<!DOCTYPE html>
<html>
	<head>
		<title>Smashed.In</title>
		<meta name="description" content="Smashed.in - Stand n Deliver!">
		<link rel = "stylesheet" href = "static/reset.css">
		<link rel = "stylesheet" href = "static/styles.css">
		<script type = "text/javascript" src ="static/script.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	</head>

<body>
	<div class = "promotext">
		<h3>Welcome to Smashed.In</h3>
		<div class = "margintoptwenty">
			<span>
				Our Developers are busy getting smashed. The site will be up really soon. Till then, Go to the nearest bar and chill.
			</span>
		</div>
	</div>
</body>

</html>
