<html lang="en">
    <head> 
        <meta charset="utf-8">
        <title>Smashed.in :: Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
	    
	    <link rel="stylesheet" href="/static/css/bootstrap.css"> 
	    <link rel="stylesheet" href="/static/css/overwrite.css"> 
		<link href="/static/css/font-awesome.css" rel="stylesheet">
		<link href="/static/css/font-awesome-set.css" rel="stylesheet">
	    <link rel="stylesheet" href="/static/css/style.css"> 
	    <link rel="stylesheet" href="/home/skin/default.css"> 
	
	    <script src="/home/js/custom.js"></script>

    </head>
    
    
<body>

<div class="container">
  <div class="col-lg-6 col-lg-offset-3">
  		<div class = "marginTopFifteen"></div>
  		<div class = "row">
  			<div class = "alignCenter col-lg-6 col-lg-offset-3">
  				<img class = "img-responsive" alt = "Smashed.in" src = "/static/img/slogo.png" />
  			</div>
  		</div>
  		<div class = "marginTopFifteen"></div>
  		<div class = "whiteCanvas alignCenter">
  			<div class = "paddingTopTen"></div>
  			<h3>WELCOME TO SMASHED.IN</h3>
  			<div class = "marginTopTen"></div>
  			<div class = "noteSmall">
  				We know you guys find it hard to remember passwords. We'll make it simple. Use one the following networks to get in. ( Don't wory...WE DON'T SPAM! )
  			</div>
  			
  			<div class = "marginTopTen"></div>
			<div class = "row">
			    <div class = "col-lg-6 col-lg-offset-3 shareFB">
  			        <a href = "/auth/facebook">
  			            Login with Facebook
			        </a>
  			    </div>
			</div>
  			<div class = "marginTopTen"></div>
			<div class = "row">
			    <div class = "col-lg-6 col-lg-offset-3 shareGoogle">
  			        <a href = "/auth/google">
  			           Login with Google
			        </a> 
			    </div>
			</div>
			<div class = "marginTopFifteen"></div>
			<div class = "row">
				<div class = "col-lg-12">
					* By Signing in, you agree to our <a href = "/pages/terms">Terms of use</a> and <a href = "/pages/privacy">Privacy Policy</a>
				</div>
			</div>
  			<div class = "paddingBottomTen"></div>
  		</div>
  </div>
</div>

</body>
</html>
