<div class = "container whiteCanvas" style = "min-height:500px;">
	<div class = "marginTopTwenty"></div>
	<div class = "col-lg-12">
		<h3>About us</h3>
		<p>
			Smashed.in is a comprehensive database of bars across India. NO, its not just wine shops, NO, its not just pubs, Yes, it includes Bars / Dhabas, Yes, it includes food reviews as well.
		</p>
		<p>
			Heard interesting conversations in a bar? Share it with others via OverHeards, a comic section where you get to see all the "Bar" talks. Use our very own "OverHeard Creator" to create cool stories. 
		</p>
		<p>
			You might wanna see the team. Well, see below!
		</p>
	</div>
	<div class = "marginTopTwenty"></div>
	<div class = "col-lg-12">
		<div class = "indv col-lg-2 col-lg-offset-1">
			<img class = "bottle img-responsive" src = "/static/img/bottle.png" />
			<div class = "col-lg-12 memberWrapper">
				<img class = "img-responsive" src = "/static/img/member1.jpg" />
			</div>
		</div>
		<div class = "indv col-lg-2">
			<img class = "bottle img-responsive" src = "/static/img/bottle.png" />
			<div class = "col-lg-12 memberWrapper">
				<img class = "img-responsive" src = "/static/img/member2.jpg" />
			</div>
		</div>
		<div class = "indv col-lg-2">
			<img class = "bottle img-responsive" src = "/static/img/bottle.png" />
			<div class = "col-lg-12 memberWrapper">
				<img class = "img-responsive" src = "/static/img/member3.jpg" />
			</div>
		</div>
		<div class = "indv col-lg-2">
			<img class = "bottle img-responsive" src = "/static/img/bottle.png" />
			<div class = "col-lg-12 memberWrapper">
				<img class = "img-responsive" src = "/static/img/member4.jpg" />
			</div>
		</div>
		<div class = "indv col-lg-2">
			<img class = "bottle img-responsive" src = "/static/img/bottle.png" />
			<div class = "col-lg-12 memberWrapper">
				<img class = "img-responsive" src = "/static/img/member5.jpg" />
			</div>
		</div>
	</div>
	
</div>
