<html lang="en">
    <head> 
        <meta charset="utf-8">
        <title>Smashed.in :: Write a Review</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" href="/MEMEHTML/css/jquery-ui.css" />
	    <script src="/MEMEHTML/jquery.tools.min.js"></script>
	    <script src="http://malsup.github.com/jquery.form.js"></script> 
	    <script src="/MEMEHTML/jquery-ui.js"></script>
	    <!--<link rel="stylesheet" href="/MEMEHTML/css/style.css"> -->
	    <link rel="stylesheet" type="text/css" href="/MEMEHTML/css/imgareaselect-default.css" />
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
	    <script type="text/javascript" src="/MEMEHTML/jquery.imgareaselect.pack.js"></script>
	    
	    
	    <link rel="stylesheet" href="/home/css/bootstrap.css"> 
	    <link rel="stylesheet" href="/home/css/overwrite.css"> 
		<link href="/home/css/font-awesome.css" rel="stylesheet">
		<link href="/home/css/font-awesome-set.css" rel="stylesheet">
	    <link rel="stylesheet" href="/home/css/style.css"> 
	    <link rel="stylesheet" href="/home/skin/default.css"> 
	    <link rel="stylesheet" href="/assets/css/stepper.css">
	    <link rel="stylesheet" href="/assets/css/validation.css"> 
	    
	    <link rel="stylesheet" href="/MEMEHTML/css/scrollable-buttons.css">   
	    <link rel="stylesheet" href="/MEMEHTML/css/colorPicker.css">   
	    <link rel="stylesheet" href="/MEMEHTML/css/scrollable-horizontal.css"> 
	    <script  src="/MEMEHTML/meme.js"></script>  
	    
	    <script language="javascript" type="text/javascript" src="/MEMEHTML/jquery.colorPicker.js"></script> 
	    <script src="/home/js/custom.js"></script>
 		<script type="text/javascript" src="/assets/js/stepper.js"></script>
 		<script type="text/javascript" src="/assets/js/validation.js"></script>
 		<script type="text/javascript" src="/assets/js/validation-lang.js"></script>
    </head>
    
    
<body>

<header>
                <div class="navbar">
                        <div class="container">
                                <a class="navbar-brand" href="index.html"><img src="/home/img/slogotmp.png" alt="Smashed.in" /></a>
                                <div class="nav-collapse collapse navbar-responsive-collapse">
                                        <ul class="nav navbar-nav">
                                                <li><a href="/home/index.html">Home</a></li>
                                                <li><a href="/reviews/scenes/reviews">Reviews</a></li>
                                                <li><a href="/reviews/store/uploadreview">Write a Review</a></li>
                                                <li><a href="/meme/store/memeview/memes">Memes</a></li>
                                                <li><a href="/meme/store/create">Create Meme</a></li>
                                                <li><a href="#contact">Contact</a></li>
                                        </ul>
                                </div><!-- End nav-collapse -->
                        </div><!-- End container -->
                </div><!-- End navbar -->
</header>


<div class = "container">
	<div class = "col-lg-12 whiteCanvas">
		<h3>Write a review. Help others to put a scene</h3>
		<div class = "sep"></div>
		<form id = "uploadReviewForm" action="$upload_url" method="POST" enctype="multipart/form-data" >
			<div class = "row">
				<div class = "col-lg-12">
					<h4>Images</h4>
					<div class = "noteSmall">
					Upload upto <b>SIX</b> of the bar. Upload images of the place / food and ofcourse the menu ( If the bar has one! )
					</div>
				</div>
				<input id = "iOne" name = "icon1" type = "file" style = "display:none;">
				<input id = "iTwo" name = "icon2" type = "file" style = "display:none;">
				<input id = "iThree" name = "icon3" type = "file" style = "display:none;">
				<input id = "iFour" name = "icon4" type = "file" style = "display:none;">
				<input id = "iFive" name = "icon5" type = "file" style = "display:none;">
				<input id = "iSix" name = "icon6" type = "file" style = "display:none;">
				
				<div class = "col-lg-2 frontImages">
					<img id = "One" class = "img-responsive cursorPointer" src = "/assets/upload_new.jpg" />
				</div>
				
				<div class = "col-lg-2 frontImages">
					<img id = "Two" class = "img-responsive cursorPointer" src = "/assets/upload_new.jpg" />
				</div>
				
				<div class = "col-lg-2 frontImages">
					<img id = "Three" class = "img-responsive cursorPointer" src = "/assets/upload_new.jpg" />
				</div>
				
				<div class = "col-lg-2 frontImages">
					<img id = "Four" class = "img-responsive cursorPointer" src = "/assets/upload_new.jpg" />
				</div>
				
				<div class = "col-lg-2 frontImages">
					<img id = "Five" class = "img-responsive cursorPointer" src = "/assets/upload_new.jpg" />
				</div>
				
				<div class = "col-lg-2 frontImages">
					<img id = "Six" class = "img-responsive cursorPointer" src = "/assets/upload_new.jpg" />
				</div>
			</div>
			
			<div class = "sep"></div>
			
			<div class = "row">
				<div class = "col-lg-12">
					<h4>Basic Information</h4>
					<div class = "noteSmall">
						Basic details. Won't take too long :)
					</div>
				</div>
				<div class = "col-lg-3">
					<input type = "text" name = "name" class = "form-control validate[required]" placeholder = "Bar Name" />
				</div>
				<div class = "col-lg-3">
					<input id = "addressLocator" type = "text" name = "address" class = "form-control validate[required]" placeholder = "Address" />
				</div>
				<div class = "col-lg-3">
					<input type = "text" name = "phone" class = "form-control" placeholder = "Phone" />
				</div>
				<div class = "col-lg-3">
					<input id = "rating" type = "text" name = "rating" class = "form-control" value = "1" disabled = "true" />
					<div>Rate it out of 5. You know the drill right?</div>
				</div>
				
			</div>
			
			<div class = "sep"></div>
			
			<div class = "row">
				<div class = "col-lg-12">
					<h4>Core Details</h4>
					<div class = "noteSmall">
						This is where people are going to decide they are going or not! . Use checkboxes to tell people what's there and what's not.
					</div>
				</div>
				
				<div class = "col-lg-6">
					<div class = "col-lg-6">
						<div>
							<input type = "checkbox" name = "budget" /> Budget
						</div>
						<div>
							<input type = "checkbox" name = "ac" /> A/C
						</div>
						<div>
							<input type = "checkbox" name = "carpark" /> Car Park
						</div>
						<div>
							<input type = "checkbox" name = "bigscreen" /> Big Screen
						</div>
						<div>
							<input type = "checkbox" name = "ladyfriendly" /> Lady Friendly
						</div>
						<div>
							<input type = "checkbox" name = "fightscene" /> Fight Scene
						</div>
					</div>
					<div class = "col-lg-6">
						<div>
							<input type = "checkbox" name = "music" /> Music / Video
						</div>
						<div>
							<input type = "checkbox" name = "clean" /> Clean
						</div>
						<div>
							<input type = "checkbox" name = "smokingontable" /> Smoking On Table
						</div>
						<div>
							<input type = "checkbox" name = "happyhours" /> Happy Hours
						</div>
						<div>
							<input type = "checkbox" name = "cardaccepted" /> Card Accepted
						</div>
						<div>
							<input type = "checkbox" name = "events" /> Events
						</div>
					</div>
				</div>
				
				<div class = "col-lg-6">
					<div><textarea class = "validate[required]" name = "description" placeholder = "General details about the place..." wrap = "hard" style = "width:100%;" ></textarea>
					</div>
					<div class = "marginTopFive">
						<input type = "text" name = "favsnack1" placeholder = "Favorite Snack 1" />
					</div>					
					<div class = "marginTopFive">
						<input type = "text" name = "favsnack2" placeholder = "Favorite Snack 2" />
					</div>
				</div>
								
			</div>
			
			<div class = "marginTopTen"></div>
			<div class = "row">
				<div class = "col-lg-1">
					<input type = "button" onClick = "onReviewUpload();" class = "btn btn-primary" value = "That's it!" />
				</div>
			
				<div id = "uploadSpinner" class = "col-lg-11 loaderTop" style = "display:none;">
					<img src = "/assets/pacman.gif" />
					&nbsp;&nbsp;
					<span id = "spinnerMg">Submitting your awesome review...Hang in there!
				</div>
			</div>
			
			<div class = "marginTopTen"></div>
			
		</form>
		
	</div>
</div>


<div class = "footer">
	<div class = "container">
		<div class = "row">
            <div class = "col-lg-4">
                <h3>Quick Links</h3>
                 <ul>
                    <li><a href = "/reviews/scenes/reviews">Browse</a></li>
                    <li><a href = "/meme/store/memeview/memes">Latest Memes</a></li>
                    <li><a href = "/reviews/store/uploadreview">Write a Review</a></li>
                    <li><a href = "/meme/store/create">Create a Meme</a></li>
                    
                </ul>
            </div>
            <div class = "col-lg-4">
                <h3>Core Scenes</h3>
                <ul>
                    <li><a href = "">Terms of use</a></li>
                    <li><a href = "">Privacy policy</a></li>
                    <li><a href = "">About us</a></li>
                </ul>
            </div>
            <div class = "col-lg-4">
                <h3>Connect</h3>
                <a target = "_blank" href = "http://www.facebook.com/smasheddotin"><img src = "../../reviewhtml/assets/facebook.png" alt = "Facebook" /></a>
                <a href = ""><img src = "../../reviewhtml/assets/twitter.png" alt = "Twitter" /></a>
                <a href = ""><img src = "../../reviewhtml/assets/pinterest.png" alt = "Pinterest" /></a>
                <div class = "marginTopTen"></div>
                <span class = "connectNote">If you have any queries,suggestions or just want to say hello, drop us a message at <a href = "mailto:hello@smashed.in">hello@smashed.in</a></span>
            </div>
        </div>
    </div>
    <div align = "center">
        Copyright &copy; 2013 Smashed.in. All rights reserved.
    </div>
</div>



</body>


</html>
