<link rel="stylesheet" href="/MEMEHTML/css/scrollable-buttons.css">   
<link rel="stylesheet" href="/MEMEHTML/css/colorPicker.css">   
<link rel="stylesheet" href="/MEMEHTML/css/scrollable-horizontal.css"> 
<script  src="/MEMEHTML/meme.js"></script>  
<script language="javascript" type="text/javascript" src="/MEMEHTML/jquery.colorPicker.js"></script>