
<script src="/static/js/waypoints.min.js"></script>
<div id="modalView" class="overlayout dropdown-menu" style="top:15%;">
	<div class = "alignCenter">
		<span class = "rockwellTextBig">Add some cool tags to the image. </span>
	</div>
	<div class = "marginTopTwenty"></div>
    <div class="row">
		<div class = "col-lg-2">
			<img src="" id="thumb1" class = "img-responsive" />
		</div>     
	</div>
    <div class = "marginTopTwenty"></div> 
    <input id='tags_2' type='text' class='tags' value="Smashed" ></p>
    <div class = "marginTopTwenty"></div> 
    <input type="button" class="btn btn-success" value="Save" onclick="SaveSkel();"/>
	<input type="button" class="btn btn-danger" value="Cancel" onclick="CancelSaveSkel();"/>
    <div class = "marginTopTwenty"></div> 
</div>

<div class = "marginTopTwenty"></div> 

<div class="container">
  	<div class = "col-lg-3 whiteCanvas paddingBottom" style = "max-height:550px;overflow-y:auto;">
	    <div class = "marginTen">
			<span class = "rockwellTextBig cursorPointer" onclick="ChangeBackground();"> Upload new ( + )</span>
		</div>
 	    <input type = "text" id="search" placeholder = "Search..." class = "form-control" onkeypress="TagPressed(event)" /> 
  	    <div id="scrollable"> 
    
    		<!-- root element for the items -->
    	    	<div class="itemsCore"> 
    		</div>  
  	    </div>  
	</div>	
    
        <div class = "col-lg-6">
                        
            <div id="BaseCanvas"  class="dottedBorder backgroundLoad imgParent" dropzone="copy" style="background-color:#cccccc;width:550px;height:550px;">             
                <img id="backImage" src="/static/img/drophere.png" onload="OnImageLoad()" > 
            </div>
            <div id="ConversationCanvas"  class="dottedBorder backgroundLoad imgParent" dropzone="copy" style="background-color:#cccccc;width:550px;height:600px;display:none;">             
                <div id="canCon" style="background-color:#cccccc;width:550px;height:600px;" onclick="ConGridClicked(this)">
                <!--img id="backImage" src="/static/img/drophere.png" onload="OnImageLoad()" --> 
                </div>
                <div class = "sepcon" id="sepcon"></div>  
            </div>
        </div>
    
       <div class = "col-lg-3 whiteCanvas paddingBottom">
       <label class = "labelBig">OverHeard Type</label>
          <div>
              <select  onchange="UpdateType(this.value);">                        
              	  <option>Single</option>   
                  <option>Conversation</option>   
              </select>
          </div>
          <div class = "sep"></div>  
          <div id="conType" style="display:none">
             <label class = "labelBig">Rows </label>
          <dd class='stepper_widget' ><input id = "rows" style = "width:120px;" type='text' class="form-control" placeholder="20"  value='1' class='min_1_max_4' onblur="RowCountChange(this.value);">  
	      <div class = "marginTopTen"></div> 
              <button class="upbutton" onclick="UpdateStepperUpRows();">+</button>
              <button class="dnbutton" onclick="UpdateStepperDownRows();">-</button>     
          </dd>             
          <div class = "sep"></div>
           <label class = "labelBig">Columns </label>
          <dd class='stepper_widget' ><input id = "columns" style = "width:120px;" type='text' class="form-control" placeholder="20"  value='1' class='min_1_max_3' onblur="ColumnCountChange(this.value);">  
	      <div class = "marginTopTen"></div> 
              <button class="upbutton" onclick="UpdateStepperUpColumns();">+</button>
              <button class="dnbutton" onclick="UpdateStepperDownColumns();">-</button>     
          </dd>             
          <div class = "sep"></div>
          </div>
           <label class = "labelBig">Font Size</label>
          <dd class='stepper_widget' ><input id = "fontSize" style = "width:120px;" type='text' class="form-control" placeholder="20" id='fontSizeText' value='20' class='min_20_max_100' onblur="FontSizeChange(this.value);">  
	      <div class = "marginTopTen"></div> 
              <button class="upbutton" onclick="UpdateStepperUp();">+</button>
              <button class="dnbutton" onclick="UpdateStepperDown();">-</button>     
          </dd>             
          <div class = "sep"></div>
      
          <label class = "labelBig">Color</label>
          <input id="color1" name="color1" type="text" value="#fff" onchange="ColorChanged(this.value);" />  
          <div class = "sep"></div>
          
          <label class = "labelBig">Font Family</label>
          <div>
              <select  onchange="UpdateFamily(this.value);">                        
              	  <option>Impact</option>   
                  <option>Arial</option>   
                  <option>Verdana</option>                               
                  <option>Times</option>   
                  <option>Trebucet</option>   
              </select>
          </div>
          <div class = "sep"></div>        
      
          <label class = "labelBig">Font Style</label>
          <div>
              <select id = "fontStyle" disabled = "disabled" onchange="UpdateFontStyle(this.value);">                        
                  <option>Normal</option>
                  <option>Italic</option>
              </select>
          </div>
          <div class = "sep"></div>
      
          <label class = "labelBig">Font Weight</label>
          <div>
              <select id = "fontWeight" disabled = "disabled" onchange="UpdateFontweight(this.value);">                        
              	  <option>Normal</option>
              	  <option>Bold</option>
              </select>
          </div>
          <div class = "sep"></div>
            
          <input type="button" class = "btn btn-primary" value="Caption(+)" onclick="AddCaption();" />   
          <input type="button" class = "btn btn-danger" value="Remove" onclick="RemoveCaption();" />
          <input type="button" class = "btn btn-success" value="Save" onclick="Save();" />   
          
          <!--<input type="button" class = "btn btn-warning" value="Crop" onclick="Crop();" />   -->
      
      
      	  <div id = "memeSpinner" class = "col-lg-12 loaderTop marginTopTen" style = "padding:0;display:none;">
	      <img src = "/assets/pacman.gif" />
	      &nbsp;&nbsp;
	      <span id = "spinnerMg">Recording your OverHeard.. Hang on!</span>
          </div>  
    </div>     
</div>
<img id="backImageCon" src="/static/img/drophere.png" style="display:none;position:absolute;" onLoad="OnImageLoadConGrid(this)" /> 

<img id = "removePanel" src="/assets/delete.png" onclick="ResetToDefault()" style = "display:none;position:absolute;"/> 
