<meta property="og:title" content="Smashed | Record a Overheard"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="http://www.smashed.in/oh/create"/>
<meta property="og:image" content="http://www.smashed.in/static/img/slogosmall.jpg"/>
<meta property="og:site_name" content="Smashed.in"/>
<meta property="og:description" content="Heard an interesting conversation?Record it right here!"/>

<meta name="description" content="Heard an interesting conversation?Record it right here!">
<meta name="keywords" content="Smashed,bar,pubs,reviews,overheards,create">	
