<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/stepper.js"></script>
<script type="text/javascript" src="/static/js/validation.js"></script>
<script type="text/javascript" src="/static/js/jquery.imgareaselect.pack.js"></script>
<script type="text/javascript" src="/static/js/validation-lang.js"></script>
<script type="text/javascript" src="/static/js/locationpicker.js"></script>
<script type="text/javascript" src="/static/js/jquery.colorPicker.js"></script>
<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false'></script>

<script  src="/MEMEHTML/meme.js"></script>

<link rel="stylesheet" href="/MEMEHTML/css/style.css"> 
<link rel="stylesheet" href="/MEMEHTML/css/scrollable-buttons.css">
<link rel="stylesheet" href="/MEMEHTML/css/colorPicker.css">   
<link rel="stylesheet" href="/MEMEHTML/css/scrollable-horizontal.css"> 
<link rel="stylesheet" type="text/css" href="/MEMEHTML/css/imgareaselect-default.css" />

<!--<script src="/static/js/waypoints.min.js"></script>-->

