<script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>

<script type="text/javascript" src="/static/js/validation.js"></script>
<script type="text/javascript" src="/static/js/jquery.imgareaselect.pack.js"></script>
<script type="text/javascript" src="/static/js/validation-lang.js"></script>
<script type="text/javascript" src="/static/js/locationpicker.js"></script>
<script type="text/javascript" src="/static/js/jquery.colorPicker.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/MEMEHTML/jquery.tagsinput.js"></script>

<script  src="/MEMEHTML/meme.js"></script>
<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css">
<link rel="stylesheet" href="/MEMEHTML/css/jquery.tagsinput.css"> 
<link rel="stylesheet" href="/MEMEHTML/css/style.css"> 
<link rel="stylesheet" href="/MEMEHTML/css/scrollable-buttons.css">
<link rel="stylesheet" href="/static/css/colorPicker.css">   
<link rel="stylesheet" href="/MEMEHTML/css/scrollable-horizontal.css"> 
<link rel="stylesheet" type="text/css" href="/MEMEHTML/css/imgareaselect-default.css" />

<!--<script src="/static/js/waypoints.min.js"></script>-->

<script type = "text/javascript">
jQuery(document).ready(function()
{
	recordOhInit();
    Init();
});
</script>

<style type = "text/css">
textarea
{
	border:none !important;
}
</style>

