<html>
<head> 
        <meta charset="utf-8">
        <title>Smashed.in :: OverHeards</title>
            <script src="/static/js/jquery.tools.min.js"></script>
        <script src="/static/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="/MEMEHTML/css/jquery-ui.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'> 
        <link rel="stylesheet" href="/static/css/bootstrap.css"> 
        <link rel="stylesheet" href="/static/css/overwrite.css"> 
	<link href="/static/css/font-awesome.css" rel="stylesheet">
	<link href="/static/css/font-awesome-set.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css"> 
		<link rel="stylesheet" href="/MEMEHTML/css/style.css"> 
        <link rel="stylesheet" href="/static/skin/default.css"> 
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="/static/js/custom.js"></script>
 <script src="/MEMEHTML/memeview.js"></script>
	<script type="text/javascript" src="/static/js/social-likes.js"></script>
	<meta property="og:title" content="Smashed | Meme"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="$conturl"/>
<meta property="og:image" content="$memeurl"/>
<meta property="og:site_name" content="Smashed"/>
<meta property="og:description" content="Create your own meme and share it across."/>

</head>               
<body>      
<script type = "text/javascript">
jQuery(document).ready(function()
{
    ListComments();
	GetRecommendedOh();
});
</script>
 <!-- Header -->
        <header>
                <div class="navbar">
                        <div class="container">
                                <a class="navbar-brand" href="index.html"><img src="/home/img/slogotmp.png" alt="Smashed.in" /></a>
                                <div class="nav-collapse collapse navbar-responsive-collapse">
                                        <ul class="nav navbar-nav">
                                                <li><a href="/home/index.html">Home</a></li>
                                                <li><a href="/reviews/scenes/reviews/">Reviews</a></li>
                                                <li><a href="/reviews/store/uploadreview">Write a Review</a></li>
                                                <li><a href="/list/memes.html">Memes</a></li>
                                                <li><a href="/meme/store/create">Create Meme</a></li>
                                                <li><a href="#contact">Contact</a></li>
                                        </ul>
                                </div><!-- End nav-collapse -->
                        </div><!-- End container -->
                </div><!-- End navbar -->
        </header>
        <!-- End header -->

<div class = "clearNav"></div>
     
<div class = "container">
	<div class = "col-lg-7 paddingNone whiteCanvas">
		<div class="col-lg-8">            
			<img class = "img-responsive" src="$memeurl" onload="OnImageLoad();" > 
		</div>
		<div class = "col-lg-4">
			<div class = "memeShareContainer">
				<div class = "marginTopTen shareFB">
					<a href = "javascript:void(0);">Share on Facebook</a>
				</div>
				<div class = "marginTopTen shareTwitter">
					<a href = "javascript:void(0);">Share on Twitter
				</div>
				<div class = "marginTopTen">
					<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/pinbutton.png" title = "Pin It!" /></a>
				</div>
			</div>
		</div>
	</div>
	
	<div class = "col-lg-5">
		<h3 class = "rockwellTextBig">You might dig these..</h3>
		<div id = "more_oh_container">
			
		</div>
	</div>
       <!--    
	   <input type="button" onclick= "UploadToFacebook('$memeurl')"/>
<ul class="social-likes social-likes_vertical">

	<li class="facebook"  title="Share link on Facebook">Facebook</li>
	<li class="twitter" title="Share link on Twitter">Twitter</li>
	<li class="plusone" title="Share link on Google+">Google+</li>
</ul>
-->
</div>


<div class = "marginTopTwenty"></div>

<div class = "container" id="comContainer" >
	<div class = "col-lg-12 whiteCanvas reviewWhiteBoxSmall" id="commentItem" style="display:none">
		<div class = "col-lg-1">
			<img class = "img-responsive" src = "" id="creatoravatar"/>
			<div class = "marginTopTen"></div>
			<span id="creatorname" class = "bold marginTopTen"></span>	       
			<div class = "marginTopTen"></div>
		</div>
		<div class = "col-lg-11">
			<span id="creatordescription" class = "bold"></span>	       
		</div>
	</div>
</div>
<div class = "marginTopTwenty"></div>

<div class = "container" id='curContainer' >
	<div class = "col-lg-12 reviewWhiteBoxSmall">
		<div class = "col-lg-1">
			<img class = "img-responsive" id="curcreatoravatar" src = "" />
			<div class = "marginTopTen"></div>
			<span id="curcreatorname" class = "bold"></span>		
		</div>
		<div class = "col-lg-11">
			<textarea style = "width:100%;height:150px;resize:none;" id="curdescription">This is cool because..</textarea>
		</div>
		<div class = "col-lg-12 marginTopTen">
			<input type = "button" class = "btn btn-success" value = "Comment" onclick="SaveComments()" />
		</div>
	</div>
</div>	
    <div class = "marginTopTwenty"></div>    
    
<input type="hidden" id="fcebookphoto" value="$shareid" />
<input type="hidden" id="currentid" value="$currentid" />
<input type="hidden" id="commentid" value="$commentid" />

<div class = "footer">
	<div class = "container">
		<div class = "row">
            <div class = "col-lg-4">
                <h3>Quick Links</h3>
                 <ul>
                    <li><a href = "/list/reviews.html">Browse</a></li>
                    <li><a href = "/list/memes.html">Latest Memes</a></li>
                    <li><a href = "/reviews/store/uploadreview">Write a Review</a></li>
                    <li><a href = "/meme/store/create">Create a Meme</a></li>
                    
                </ul>
            </div>
            <div class = "col-lg-4">
                <h3>Core Scenes</h3>
                <ul>
                    <li><a href = "">Terms of use</a></li>
                    <li><a href = "">Privacy policy</a></li>
                    <li><a href = "">About us</a></li>
                </ul>
            </div>
            <div class = "col-lg-4">
                <h3>Connect</h3>
                <a target = "_blank" href = "http://www.facebook.com/smasheddotin"><img src = "../../reviewhtml/assets/facebook.png" alt = "Facebook" /></a>
                <a href = ""><img src = "../../reviewhtml/assets/twitter.png" alt = "Twitter" /></a>
                <a href = ""><img src = "../../reviewhtml/assets/pinterest.png" alt = "Pinterest" /></a>
                <div class = "margintopten"></div>
                <span class = "connectNote">If you have any queries,suggestions or just want to say hello, drop us a message at <a href = "mailto:hello@smashed.in">hello@smashed.in</a></span>
            </div>
        </div>
    </div>
        <div align = "center">
            Copyright &copy; 2013 Smashed.in. All rights reserved.
        </div>
    </div>
	
	<!-- TPL -->
	
	<div class =  "col-lg-3 whiteCanvas moreOhIndv paddingNone " id = "ohIndvItem" style = "display:none;">
		<a>
			<img class = "img-responsive" src = "" />
		</a>
	</div>



</body>
</html>