    <div class = "marginTopTwenty"></div>
        
    <!-- Content -->    
    <div class = "container">
        <div class = "col-lg-7 paddingNone">    
        	<div class = "row memeIndvItem">
	     		<div class = "col-lg-8">
				    <a href = "$url1">
						<img class = "img-responsive" src = "$image1" />
					</a>
	            </div>
	            <div class = "col-lg-4">
	            	<div class = "memeShareContainer">
	            		<div class = "marginTopTen shareFB">
	            			<a href = "javascript:void(0);">Share on Facebook</a>
	            		</div>
	            		<div class = "marginTopTen shareTwitter">
	            			<a href = "javascript:void(0);">Share on Twitter
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/pinbutton.png" title = "Pin It!" /></a>
	            		</div>
	            	</div>
	            </div>
	     	</div>
            
             <div class = "row memeIndvItem">
	     		<div class = "col-lg-8">
				    <a href = "$url2">
						<img class = "img-responsive" src = "$image2" />
					</a>
	            </div>
	            <div class = "col-lg-4">
	            	<div class = "memeShareContainer">
	            		<div class = "marginTopTen shareFB">
	            			<a href = "javascript:void(0);">Share on Facebook</a>
	            		</div>
	            		<div class = "marginTopTen shareTwitter">
	            			<a href = "javascript:void(0);">Share on Twitter
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/pinbutton.png" title = "Pin It!" /></a>
	            		</div>
	            	</div>
	            </div>
	     	</div>
            
             <div class = "row memeIndvItem">
	     		<div class = "col-lg-8">
				    <a href = "$url3">
						<img class = "img-responsive" src = "$image3" />
					</a>
	            </div>
	            <div class = "col-lg-4">
	            	<div class = "memeShareContainer">
	            		<div class = "marginTopTen shareFB">
	            			<a href = "javascript:void(0);">Share on Facebook</a>
	            		</div>
	            		<div class = "marginTopTen shareTwitter">
	            			<a href = "javascript:void(0);">Share on Twitter
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/pinbutton.png" title = "Pin It!" /></a>
	            		</div>
	            	</div>
	            </div>
	     	</div>
            
             <div class = "row memeIndvItem">
	     		<div class = "col-lg-8">
				    <a href = "$url4">
						<img class = "img-responsive" src = "$image4" />
					</a>
	            </div>
	            <div class = "col-lg-4">
	            	<div class = "memeShareContainer">
	            		<div class = "marginTopTen shareFB">
	            			<a href = "javascript:void(0);">Share on Facebook</a>
	            		</div>
	            		<div class = "marginTopTen shareTwitter">
	            			<a href = "javascript:void(0);">Share on Twitter
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/pinbutton.png" title = "Pin It!" /></a>
	            		</div>
	            	</div>

	            </div>
	     	</div>
            
            <div class = "row memeIndvItem">
	     		<div class = "col-lg-8">
				    <a href = "$url5">
						<img class = "img-responsive" src = "$image5" />
					</a>
	            </div>
	            <div class = "col-lg-4">
	            	<div class = "memeShareContainer">
	            		<div class = "marginTopTen shareFB">
	            			<a href = "javascript:void(0);">Share on Facebook</a>
	            		</div>
	            		<div class = "marginTopTen shareTwitter">
	            			<a href = "javascript:void(0);">Share on Twitter
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/pinbutton.png" title = "Pin It!" /></a>
	            		</div>
	            	</div>
	            </div>
	     	</div>
        </div>
        <div class = "col-lg-5">
            <div class = "memeTicker">
                <h3 class = "rockwellHeading">Activity</h3>
                <div id = "tickerContainer">
                    <div class = "row tickerIndvItem noMargin" id ="tickItem" >
						<a id="ticks" href="$url1">
							<div class = "col-lg-4 tickerPhoto">
								<img src = "$avatar1" id="creatoravatar" />
							</div>
							<div class = "col-lg-8 tickerContent">
									<span id="creatorname" class = "bold">$name1</span> created a new meme
							</div>
						</a>
                    </div>
                    <div class = "separator"></div>
                                        
                    <div class = "row tickerIndvItem noMargin" >
						<a  href="$url2">
							<div class = "col-lg-4 tickerPhoto">
								<img src = "$avatar2"  />
							</div>
							<div class = "col-lg-8 tickerContent">
									<span  class = "bold">$name2</span> created a new meme
							</div>
						</a>
                    </div>
                    <div class = "separator"></div>
                    
                    <div class = "row tickerIndvItem noMargin"  >
						<a  href="$url3">
							<div class = "col-lg-4 tickerPhoto">
								<img src = "$avatar3" id="creatoravatar" />
							</div>
							<div class = "col-lg-8 tickerContent">
									<span  class = "bold">$name3</span> created a new meme
							</div>
						</a>
                    </div>
                    <div class = "separator"></div>
                    
                    <div class = "row tickerIndvItem noMargin">
						<a  href="$url4">
							<div class = "col-lg-4 tickerPhoto">
								<img src = "$avatar4" id="creatoravatar" />
							</div>
							<div class = "col-lg-8 tickerContent">
									<span  class = "bold">$name4</span> created a new meme
							</div>
						</a>
                    </div>
                    <div class = "separator"></div>
                    
                    <div class = "row tickerIndvItem noMargin">
						<a href="$url5">
							<div class = "col-lg-4 tickerPhoto">
								<img src = "$avatar5" id="creatoravatar" />
							</div>
							<div class = "col-lg-8 tickerContent">
									<span  class = "bold">$name5</span> created a new meme
							</div>
						</a>
                    </div>
                    <div class = "separator"></div>
                </div>
            </div>
        </div>
        <div class "clearfloat"></div>
    </div>    
</div>
    
    
</body>
    
</html>
    
