<meta property="og:title" content="Smashed | Overheards"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="http://www.smashed.in/oh"/>
<meta property="og:image" content="http://www.smashed.in/static/img/slogosmall.jpg"/>
<meta property="og:site_name" content="Smashed.in"/>
<meta property="og:description" content="Check out what people have been hearing next to their tables"/>

<meta name="description" content="Check out what people have been hearing next to their tables">
<meta name="keywords" content="Smashed,bar,pubs,reviews,overheards">	

<link rel="stylesheet" href="/MEMEHTML/css/style.css"> 
<script src ="/MEMEHTML/meme.js" type = "text/javascript"></script> 
<script type = "text/javascript">
var m_strCurTimeStamp = "";
jQuery(document).ready(function()
{
	ohListInit();
	GetTickerInit();
	setTimeout(function(){
		GetTickerLatest();

	},5000);
});
</script>