<link rel="stylesheet" href="/MEMEHTML/css/style.css"> 
<script src ="/MEMEHTML/meme.js" type = "text/javascript"></script> 
<script type = "text/javascript">
var m_strCurTimeStamp = "";
GetTickerInit();
setTimeout(function(){
GetTickerLatest();

},5000);

</script>