<?xml version="1.0" encoding="iso-8859-1" ?>
<ohskellist>
  <skels>
#for $meme in $memes
    <skel>
      <id>${meme.resid}</id>
      <thumburl>${meme.thumburl}</thumburl>
      <url>${meme.url}</url>
    </skel>
#end for
  </skels>
</ohskellist>
