<meta property="og:title" content="Smashed | Overheards"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="$conturl"/>
<meta property="og:image" content="$memeurl"/>
<meta property="og:site_name" content="Smashed.in"/>
<meta property="og:description" content="Create such overheards and share it with your friends!"/>

<meta name="description" content="Create overheards and share it with your friends!">
<meta name="keywords" content="Smashed,bar,pubs,reviews,overheards">	


<script src="/MEMEHTML/memeview.js"></script>
<script type="text/javascript" src="/static/js/social-likes.js"></script>

<script src = "/static/js/lightbox-2.6.min.js"></script>
<link rel="stylesheet" href="/static/css/lightbox.css"> 

<script type = "text/javascript">
jQuery(document).ready(function()
{
	ohListInit();
    ListComments();
    GetRecommendedOh();
});
</script>
