
<script src="/MEMEHTML/memeview.js"></script>
<script type="text/javascript" src="/static/js/social-likes.js"></script>
<meta property="og:title" content="Smashed | Meme"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="$conturl"/>
<meta property="og:image" content="$memeurl"/>
<meta property="og:site_name" content="Smashed"/>
<meta property="og:description" content="Create your own meme and share it across."/>

<script type = "text/javascript">
jQuery(document).ready(function()
{
    ListComments();
    GetRecommendedOh();
});
</script>
