#set $rating = $rating.replace('.', '_') 
<script type= "text/javascript">
    
function initialize() {
    var myLatLng = new google.maps.LatLng($lat,$lon);
    var map_canvas = document.getElementById('map_canvas');
    var map_options = {
      center: myLatLng,
       zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(map_canvas, map_options)
    var marker = new google.maps.Marker({
  position: myLatLng,
  map: map,
  title: '$name$' 
}); 
  }
  google.maps.event.addDomListener(window, 'load', initialize);

</script>

      
    <!-- Banner -->
    <div class = "reviewHeadingBackground">
         <div class = "container">
             
            <div class = "col-lg-8 reviewHeadingBig">
                $name
            </div>
            
             <div class = "col-lg-4 reviewScreenShotContainer">
                 <!-- Screenshots -->
#set $count = 0
#for $img in $images
#set $count += 1
                 <div class = "col-lg-4 ScreenShotWrap displayinlineblock">
                     <a data-lightbox="Review" href = "/res/download/${img}">
                         <img class = "img-responsive" src = "/res/download/${img}" />
                     </a>
                 </div>
#if $count == 3
                 <div class = "margintopten"></div>
#end if
#end for
             </div>
             
             <div class = "clearboth"></div>
             
         </div>
    </div>
    
    <!-- Details and Maps -->
    <div class = "marginTopTen"></div>
    
    <div class = "container">
    	<div class = "col-lg-12">
   			<div class = "col-lg-4">
   			    			
   			<div class = "row">
   				<div class = "col-lg-12">
   					<div class = "reviewWhiteBoxSmall">
                		<h4>Address:</h4>
                		<div class = "marginTopTen" style="width:100px;"></div>
                		<span>
                    		$address
                		</span>
                		<div class = "marginTopTen">
                    		<h4>Phone:</h4>
                    		<div class = "marginTopTen"></div>
                    		<span>
                        		$phone
                    		</span>
                		</div>
                	</div>
            	</div>
   			</div> <!-- Address -->
   			<div class = "marginTopTen"></div>
   			
   			<div class = "row">
   				<div class = "col-lg-12">
   					<div class = "reviewWhiteBoxSmall">
						<h4>$name's Scenes</h4>
                		<div class = "marginTopTen"></div>
                		<!-- Rating Container ( Styles N/A ) -->
                		<div class = "ratingContainer">
			                 <img height = "64" src = "/reviewhtml/assets/rate_${rating}.png" />
                		</div>
                
		                <!-- USP -->
		                <div class = "marginTopTwenty"></div>
                		<h4>Favorite Snacks</h4>
                		<div class = "marginTopTen"></div>
                		<ul>
                    		<li>$snack1</li>
                    		<li>$snack2</li>
                		</ul>
           			</div>
   				</div>
   			</div> <!-- Scenes -->
   			
   		</div> <!-- Left -->
   		
   			<div class = "col-lg-8 whiteCanvas">

            <div class = "col-lg-6">
    				<div class = "row reviewUspContainer">
                        <div class = "col-lg-1 check paddingNone">
							#if $budget == "on" 
	                            <img class = "verticalalignmiddle" src = "/reviewhtml/assets/green.png" />
	                        #else
	                        	<img class = "verticalalignmiddle" src = "/reviewhtml/assets/red.png" />
	                        #end if
                        </div>
                        <div class = "col-lg-11 UspItem">
                            Budget
                        </div>
                    </div>
                    
                    <div class = "row reviewUspContainer">
                        <div class = "col-lg-1 check paddingNone">
	                        #if $ac == "on"
	                            <img class = "verticalalignmiddle" src = "/reviewhtml/assets/green.png" />
	                        #else
	                        	<img class = "verticalalignmiddle" src = "/reviewhtml/assets/red.png" />
	                        #end if

                        </div>
                        <div class = "col-lg-11 UspItem">
                            A/C
                        </div>
                    </div>
                    
                    <div class = "row reviewUspContainer">
                        <div class = "col-lg-1 check paddingNone">
	                        #if $carpark == "on"
	                            <img class = "verticalalignmiddle" src = "/reviewhtml/assets/green.png" />
	                        #else
	                        	<img class = "verticalalignmiddle" src = "/reviewhtml/assets/red.png" />
	                        #end if

                        </div>
                        <div class = "col-lg-11 UspItem">
                            Car Park
                        </div>
                    </div>
                    
                    <div class = "row reviewUspContainer">
                        <div class = "col-lg-1 check paddingNone">
	                        #if $bigscreen == "on"
	                            <img class = "verticalalignmiddle" src = "/reviewhtml/assets/green.png" />
	                        #else
	                        	<img class = "verticalalignmiddle" src = "/reviewhtml/assets/red.png" />
	                        #end if

                        </div>
                        <div class = "col-lg-11 UspItem">
                            Big Screen
                        </div>
                    </div>
                    
                    <div class = "row reviewUspContainer">
                        <div class = "col-lg-1 check paddingNone">
	                        #if $ladyok == "on"
	                            <img class = "verticalalignmiddle" src = "/reviewhtml/assets/green.png" />
	                        #else
	                        	<img class = "verticalalignmiddle" src = "/reviewhtml/assets/red.png" />
	                        #end if

                        </div>
                        <div class = "col-lg-11 UspItem">
                            Lady Friendly
                        </div>
                    </div>
                    
                    <div class = "row reviewUspContainer">
                        <div class = "col-lg-1 check paddingNone">
	                        #if $fightscene == "on"
	                            <img class = "verticalalignmiddle" src = "/reviewhtml/assets/green.png" />
	                        #else
	                        	<img class = "verticalalignmiddle" src = "/reviewhtml/assets/red.png" />
	                        #end if

                        </div>
                        <div class = "col-lg-11 UspItem">
                            Fight Scene
                        </div>
                    </div>
    			</div>
    			
    			<div class = "col-lg-6">
    				<div class = "row reviewUspContainer">
                        <div class = "col-lg-1 check paddingNone">
	                        #if $musicvideo == "on"
	                            <img class = "verticalalignmiddle" src = "/reviewhtml/assets/green.png" />
	                        #else
	                        	<img class = "verticalalignmiddle" src = "/reviewhtml/assets/red.png" />
	                        #end if

                        </div>
                        
                        <div class = "col-lg-11 UspItem ">
                            Music / Video
                        </div>
                    </div>
                    
                    <div class = "row reviewUspContainer">
                        <div class = "col-lg-1 check paddingNone">
	                        #if $clean == "on"
	                            <img class = "verticalalignmiddle" src = "/reviewhtml/assets/green.png" />
	                        #else
	                        	<img class = "verticalalignmiddle" src = "/reviewhtml/assets/red.png" />
	                        #end if

                        </div>
                        
                        <div class = "col-lg-11 UspItem">
                            Clean
                        </div>
                        
                    </div>
                    
                    <div class = "row reviewUspContainer">
                        <div class = "col-lg-1 check paddingNone">
	                        #if $smoke == "on"
	                            <img class = "verticalalignmiddle" src = "/reviewhtml/assets/green.png" />
	                        #else
	                        	<img class = "verticalalignmiddle" src = "/reviewhtml/assets/red.png" />
	                        #end if

                        </div>
                        
                         <div class = "col-lg-11 UspItem ">
                            Smoking on Table
                        </div>
                        
                    </div>
                    
                    <div class = "row reviewUspContainer">
                        <div class = "col-lg-1 check paddingNone">
	                        #if $happyhours == "on"
	                            <img class = "verticalalignmiddle" src = "/reviewhtml/assets/green.png" />
	                        #else
	                        	<img class = "verticalalignmiddle" src = "/reviewhtml/assets/red.png" />
	                        #end if

                        </div>
                        
                         <div class = "col-lg-11 UspItem">
                            Happy Hours
                        </div>
                        
                    </div>
                    
                    <div class = "row reviewUspContainer">
                        <div class = "col-lg-1 check paddingNone">
                        #if $check_card == "on"
                            <img class = "verticalalignmiddle" src = "/reviewhtml/assets/green.png" />
                        #else
                        	<img class = "verticalalignmiddle" src = "/reviewhtml/assets/red.png" />
                        #end if
                        </div>
                         <div class = "col-lg-11 UspItem">
                            Card Accepted
                        </div>
                    </div>
                    
                    <div class = "row reviewUspContainer">
                        <div class = "col-lg-1 check paddingNone">
	                        #if $events == "on"
	                            <img class = "verticalalignmiddle" src = "/reviewhtml/assets/green.png" />
	                        #else
	                        	<img class = "verticalalignmiddle" src = "/reviewhtml/assets/red.png" />
	                        #end if

                        </div>
                        <div class = "col-lg-11 UspItem">
                            Events
                        </div>
                    </div>
                </div>
            
   		</div> <!-- Right -->
   		</div>
   		
    </div> <!-- Container -->   
    
    <div class = "marginTopTwenty"></div>
    
    <div class = "container">
    	<div class = "col-lg-12">
    		<div class = "alignCenter">
    			<h3 class = "coreHeading">Not enough details? Lets get into core then!</h3>
    		</div>
    	</div>
    </div>
    
    <div class = "marginTopTen"></div>
    
    <div class = "container">
    	<div class = "col-lg-12">
    		<div class = "col-lg-6">
    			<div class = "marginTopFive"></div>
            	<div id = "map_canvas" class = "GoogleMapContainer">
            	</div>
    		</div>
    		<div class = "col-lg-6 whiteCanvas">
    			$description 
    		</div>
    		
    	</div>
    </div>
    
    <div class = "marginTopTwenty"></div>
     <div class = "container" id="revContainer" >
	      <div class = "col-lg-12 reviewWhiteBoxSmall" id="reviewItem" style="display:none">
	      <div class = "col-lg-1">
	       <img class = "img-responsive" src = "" id="creatoravatar"/>
	       <div class = "marginTopTen"></div>
	       <!--
            <span id="creatorname" class = "bold marginTopTen"></span>-->	       
	       <div class = "marginTopTen"></div>
	       <div class = "ratingContainer">
                <img class = "img-responsive"  id='creatorrating' src = "/reviewhtml/assets/rate_1_0.png" />
	       </div>
	      </div>
	      <div class = "col-lg-11">
              <span id="creatordescription" class = "bold"></span>	       
	     
	      </div>
	     </div>
	    </div>
    <div class = "marginTopTwenty"></div>
        <div class = "container" id='curContainer' >
    	<div class = "col-lg-12 reviewWhiteBoxSmall">
    		<div class = "col-lg-1">
    			<img class = "img-responsive" id="curcreatoravatar" src = "" />
    			<!--
    			<div class = "marginTopTen"></div>
    			
				<span id="curcreatorname" class = "bold"></span>
    			-->
    			<div class = "marginTopTen"></div>
    			<input id = "rating" type = "text" name = "rating" class = "form-control" value = "1" />
   			</div>
    		<div class = "col-lg-11">
    			<textarea style = "width:100%;height:150px;resize:none;" id="curdescription">Comment here..</textarea>
    		</div>
    		<div class = "col-lg-12 marginTopTen">
    			<input type = "button" class = "btn btn-success" value = "Comment" onclick="SaveReviewComments()" />
    		</div>

    	</div>
    </div>	
    

    <input type="hidden" id="reviewid" value="$reviewid" />
