<link rel="stylesheet" href="/reviewhtml/css/style.css"> 
<link rel="stylesheet" href="/static/css/stepper.css">
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/static/js/stepper.js"></script>
<script src="/reviewhtml/reviews.js"></script>
 <style type = "text/css">
	.clearNav
	{
	    margin-top:80px;
	}
</style>
