<!-- Main Content -->
<div class = "marginTopTwenty"></div>

<div id = "c" class = "container">
#for $r in $reviews
#set $rating = $r.rating.replace('.', '_')
    <div class="bIndv col-lg-4">
    	<a href = "/b/$r.bid">
			<div class="b-img-bg">
	  			<img onmouseover = "toggleEditOption(this);" class = "img-responsive" src = "/res/download/${r.images[0]}" />
			</div>
#if $userid == 1
            <div id = "bEditWrapper" class = "bEditWrapper">
                <img src = "/static/img/edit.png" onClick = "return editBar(this);" value = "${r.bid}" />
            </div>
#end if
			<div class="img-title-big">
	  			<div class = "col-lg-9">
	    			<h6>$r.name</h6>
	    			<div class = "gridRatingContainer">
	      				<img class = "img-responsive" src = "/reviewhtml/assets/rate_${rating}.png" />
	    			</div>
	    			<div class = "gridMeta margintopfive">
	      				$r.address
	    			</div>
	  			</div>
	  			<div class = "col-lg-3 marginTopTwenty">
	    			<a href = "javascript:void(0);">
	      				<img title = "Location" onCLick = 'showBarOnMapModal(this);' src = "/reviewhtml/assets/googlemap.jpg" width = "42" value="${r.latlon}" />
	    			</a>
	    			<div class = "marginTopTen"></div>
	    			<a href = "javascript:void(0);">
	    				<img title = "OverHeards" width = "42" onCLick = 'showBarOh(this);' src = "/assets/oh.png" value="${r.bid}" />
	    			</a>
	  			</div>
			</div>
      </a>
    </div>
#end for
</div>

<div class = "marginTopTwenty"></div>
<div class = "container">
<div class = "row">
    <div class = "col-lg-12">
#if $currentpage != 1
#set $prevpagenum = $currentpage - 1
        <div class = "col-lg-1">
	    <a href = "/b/page/${prevpagenum}">&lt; Prev</a>
        </div>
#end if
#if $currentpage < $totalpagecount
#set $nextpagenum = $currentpage + 1
	<div class = "col-lg-2">
	    <a href = "/b/page/${nextpagenum}">&gt; Next</a>
        </div>
#end if
    </div>
</div>
</div>
<div id = "mapModal" style = "display:none;" title = "Location">
	<div id = "map_canvas" style = "height:300px;"></div>
</div>

<div id = "ohModalTpl" style = "display:none;" title = "OverHeards">
	<div id = "ohContainer" class = "oc">
	</div>
	<a onClick = "scrollOhToTop(this);" href = "javascript:void(0);" id = "scrolltoTop">to top</a>
</div>

<div id = "ohThumbs" class = "ohModalIndv" style = "display:none;">
	<img src = "/assets/defaultskin.jpg" alt="" />
	<div class = "marginTopTen shareFB">
		<a href = "javascript:void(0);">Share on Facebook</a>
	</div>
	<div class = "marginTopTen shareTwitter">
	    <a href = "javascript:void(0);">Share on Twitter</a>
	</div>
	<div class = "marginTopTen shareGoogle">
		<a style = "height:auto;" href = "javascript:void(0);">Share on Google +</a>
	</div>
</div>

<div id = "ohNoContent" class = "alignCenter marginTopTwenty" style = "display:none;">
	There are no OverHeards here Yet :(
</div>

<div id = "fullScreenLoader" class = "fullScreenLoaderModal" style = "display:none;"></div>