
<meta property="og:title" content="Smashed.in Reviews"/>
<meta property="og:image" content="http://www.smashed.in/static/img/slogosmall.jpg"/>
<meta property="og:url" content="http://www.smashed.in/b"/>
<meta property="og:site_name" content="Smashed.in"/>
<meta property="og:description" content="Check out where people are hanging these days..." />

<meta name="description" content="Check out where people are hanging these days...">
<meta name="keywords" content="Smashed,bar,pubs,reviews">	

<!--
<script src="/MEMEHTML/jquery-ui.js"></script>
<script src="/MEMEHTML/jquery.tools.min.js"></script>
<link rel="stylesheet" href="/MEMEHTML/css/jquery-ui.css" />
<script src="/home/js/custom.js"></script>
-->
<script src="/reviewhtml/reviews.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css">
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="static/js/jquery.isotope.min.js"></script>
<script type = "text/javascript">
jQuery(document).ready(function()
{
	reviewsInit();
});
</script>

