<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>$title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Smashed.in">
    <link rel="shortcut icon" href="ico/favicon.png">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/overwrite.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/font-awesome-set.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <link href="/static/css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>	
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/custom.js"></script>

    $morehead
    
    
    <script type = "text/javascript">
	jQuery(window).bind("load", function() { 
       
       stickFooter();
     
	});
    
    </script>
    
    
  </head>

  <body>
    <header>
      <div class="navbar">
        <div class="container">
          <a class="navbar-brand" href="/">
	    	<img src="/static/img/slogo.png" alt="Smashed.in" width = "120" />
	  	  </a>
          <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li><a id = "nav-home" href="/">Home</a></li>
              <li><a id = "nav-reviews" href="/b">Reviews</a></li>
              <li><a id = "nav-review-record" href="/b/record">Write a Review</a></li>
              <li><a id = "nav-oh" href="/oh">OverHeards</a></li>
              <li><a id = "nav-oh-record" href="/oh/record">Record a OverHeard</a></li>
#if $logged_in
			  <li><a href = "/auth/logout">Logout</a></li>			 
#end if
            </ul>
          </div><!-- End nav-collapse -->
        </div><!-- End container -->
      </div><!-- End navbar -->
    </header>
    <div class = "clearNav"></div>
    <div id="skelcontainer">
      $skelbody
    </div>

    <div class = "footer">
      <div class = "container">
	<div class = "row">
          <div class = "col-lg-4">
            <h3>Quick Links</h3>
            <ul>
              <li><a href = "/b">Browse</a></li>
              <li><a href = "/oh">Latest OverHeards</a></li>
              <li><a href = "/b/record">Write a Review</a></li>
              <li><a href = "/oh/record">Record a OverHeard</a></li>
            </ul>
          </div>
          <div class = "col-lg-4">
            <h3>Core Scenes</h3>
            <ul>
              <li><a href = "">Terms of use</a></li>
              <li><a href = "">Privacy policy</a></li>
              <li><a href = "">About us</a></li>
            </ul>
          </div>
          <div class = "col-lg-4">
            <h3>Connect</h3>
            <a target = "_blank" href = "http://www.facebook.com/smasheddotin"><img width = "48" src = "../../reviewhtml/assets/facebook.png" alt = "Facebook" /></a>
            <a href = ""><img width = "48" src = "../../reviewhtml/assets/twitter.png" alt = "Twitter" /></a>
            <a href = ""><img width = "48" src = "../../reviewhtml/assets/pinterest.png" alt = "Pinterest" /></a>
            <div class = "marginTopTen"></div>
            <span class = "connectNote">If you have any queries,suggestions or just want to say hello, drop us a message at <a href = "mailto:hello@smashed.in">hello@smashed.in</a></span>
          </div>
        </div>
      </div>
      <div align = "center">
        Copyright &copy; 2013 Smashed.in. All rights reserved.
      </div>
    </div>

  </body>

</html>
