<html>
<head> 
	<meta charset="utf-8">
	<title>Meme Creator</title>
      <link rel="stylesheet" href="../MEMEHTML/css/jquery-ui.css" />
    <script src="../MEMEHTML/jquery.tools.min.js"></script>
  <!--script src="http://code.jquery.com/jquery-1.9.1.js"></script!-->
  <script src="../MEMEHTML/jquery-ui.js"></script>
    <link rel="stylesheet" href="../MEMEHTML/css/style.css"> 
      <link rel="stylesheet" type="text/css" href="../MEMEHTML/css/imgareaselect-default.css" />
  <script type="text/javascript" src="../MEMEHTML/jquery.imgareaselect.pack.js"></script>
    <link rel="stylesheet" href="../MEMEHTML/css/scrollable-buttons.css">   
    <link rel="stylesheet" href="../MEMEHTML/css/colorPicker.css">   
    <link rel="stylesheet" href="../MEMEHTML/css/scrollable-horizontal.css">   
    <script  src="../MEMEHTML/meme.js"></script>  
    <script language="javascript" type="text/javascript" src="../MEMEHTML/jquery.colorPicker.js"></script> 
</head>               
<body>      
                             
     <input type="file" id="myFile" style="display:none;"/> 

<div class = "blacktopbar">  
    <div class = "screen1k marginauto"> 
       <span class = "logotext">SMASHED.IN</span> 
    </div>
</div>
     
<div class="backgroundClass" style="margin:0 auto;" >  
    <div class="autoClass" align="center"> 
        <span class="textClass inlineBlock" style="font-weight:bold;color:#b9b9b9;">MEME CREATOR</span>
        <span class="textClass" style="font-size:20px;color:#b9b9b9;">&nbsp;&nbsp;Drag an image from image roller or upload new</span>
        <span class="textClass" style="font-size:18px;color:#777; font-weight:bold;cursor:default;" onclick="ChangeBackground();">&nbsp;&nbsp;UPLOAD NEW ( + )</span>
    </div> 
          
    <div style="margin:0 auto; width: 100%; height:120px; padding-top:10px;"> 
<!-- "previous page" action --> 
<a class="prev browse left"></a>
 
<!-- root element for scrollable -->
<div class="scrollable dropShadowed" id="scrollable"> 
  
  <!-- root element for the items -->
  <div class="items"> 
      <!--img src="http://farm1.static.flickr.com/143/321464099_a7cfcb95cf_t.jpg"   draggable="true"  ondragstart="DragMeme(event)"/-->
  </div>  
 
</div> 
      
<!-- "next page" action --> 
<a class="next browse right"></a>    
</div>
<div class="Main centerAlign"  style="width:90%;height:70%;padding-top:10px;padding-right:12px;" >
        <div class="inlineBlock"  style="width:50%;height:100%;float:left;">
            
            <div id="BaseCanvas"  class="dottedBorder backgroundLoad imgParent" dropzone="copy" style="background-color:#ababab;width:450px;height;450px"  > 
                <img id="backImage" class="displayBlock widthCLassImg" src="/MEMEHTML/assets/drophere.jpg" onload="OnImageLoad()" > 
            </div>
              
       </div>           
       <div class="inlineBlock"  style="width:50%;height:100%;float:right;">
            <div  width="100%" height="100%" style="width:100%;height:16%;padding-left:18px;padding-botton:5px">
                <span class="textClass label" style="font-weight:bold;font-size:18px;">Font Size</span>
                <dd class='stepper_widget' ><input type='text' id='fontSizeText' value='20' class='min_20_max_100' onblur="FontSizeChange(this.value);">   
                    <button class="upbutton" onclick="UpdateStepperUp();">▲</button>
                    <button class="dnbutton" onclick="UpdateStepperDown();">▼</button>     
                </dd>      
            </div>     
            <div  style="width:100%;height:20%;padding-left:18px;padding-botton:5px">
                <span class="textClass label" style="font-weight:bold;font-size:18px;">Color</span>
                <div>
                    <input id="color1" name="color1" type="text" value="#000" onchange="ColorChanged(this.value);" />  
                </div>
           </div>
           <div  style="width:100%;height:16%;padding-left:18px;padding-botton:5px">
                <span class="textClass label" style="font-weight:bold;font-size:18px;">Font Weight</span>
                <div>
                     <select  onchange="UpdateFontweight(this.value);">                        
                        <option>Normal</option>
                        <option>Bold</option>
                     </select>
                </div>
           </div>
           <div  style="width:100%;height:16%;padding-left:18px;padding-botton:5px">
                <span class="textClass label" style="font-weight:bold;font-size:18px;">Font Style</span>
                <div>
                     <select  onchange="UpdateFontStyle(this.value);">                        
                        <option>Normal</option>
                        <option>Italic</option>
                     </select>
                </div>
           </div>

           <div style="width:100%;height:20%;padding-left:18px;"> 
               <span class="textClass label" style="font-weight:bold;font-size:18px;">Font Family</span>
               <div>
                    <select  onchange="UpdateFamily(this.value);">                        
                        <option>Arial</option>   
                        <option>Verdana</option>                               
                        <option>Times</option>   
                        <option>Trebucet</option>   
                    </select>
                </div>
            </div>
           <div style="width:100%;height:20%;padding-left:18px;bottom:0;;">
               <input type="button" class="customButton textClass" value="Add Caption ( + )" onclick="AddCaption();" />   
               <input type="button" class="customButton textClass inlineBlock" style="background-color:#00ee00;" value="Crop" onclick="Crop();" />   
               <input type="button" class="customButton textClass inlineBlock" style="width:140px;background-color:#00ee00;display:inline-block;" value="Save" onclick="Save();" />   

           </div>       
        </div>
</div>
</body>
</html>