.transClass {
  background-color: rgba(255, 0, 0, 0);
  position: absolute;
  top: 0px;
  left: 0px; }

.layout_canvasClass {
  width: 100%;
  height: 100%; }

.style_canvasClass {
  background-color: rgba(255, 0, 0, 0.5); }

.displayBlock {
  display: block; }

.inlineBlock {
  display: inline; }

.textClass {
    font-family:rockwell;
  font-size: 30px;
  align-content:center;
    margin:0 auto;
padding-bottom:10px;}

.backgroundClass {
  width: 1000px;
  padding: 10px;
  background-color: #ffffff;/*#e5e5e5;*/
  -webkit-box-shadow: 10px 10px 10px #ddd;
    box-shadow: 10px 10px 10px #ddd;
}

.dropShadowed
{
    -webkit-box-shadow: 0 0 5px 2px #BBB;
    box-shadow: 0px 0px 5px 2px #BBB;
}
.autoClass
{
    width:inherit;
}
.centerAlign
{
    margin-left:auto;
    margin-right:auto;
}
.dottedBorder
{
    /*
    border:dotted;
    border-radius:5px;
    border-bottom-width:thin;
    border-top-width:thin;
    border-left-width:thin;
    border-right-width:thin;
    */
    border:6px dashed #707070;
    -webkit-border-radius:8px;
    border-radius:8px;
}
.customButton
{
    width:150px;
    height:40px;
    background-color:0;
    color:#FFF;
    font-size:16;
}
.pointerAuto
{
    pointer-events:auto;
}
.pointerNone
{
    pointer-events:none;
}
.backgroundTransparent
{
    background-color:transparent;
    border-color:transparent;
}
.backgroundVisible
{
    background-color:transparent;
    border-color:#ff0;
}


.heightCLass
{
    height:100%;
    width:auto;
    vertical-align:top;
}
.widthCLass
{
    width:100%;
    height:auto;  
    vertical-align:top; 
}

.heightCLassImg
{
    height:100%;
    width:auto;
}
.widthCLassImg
{
    width:100%;
    height:auto;    
}
.imgParent {
    float:left;
    width:100%;
    height:100%;
    line-height: 100%; 
    font-size: 100%; 

}

.memeIndvItem
{
    padding:20px;
    box-shadow:1px 1px 2px #ddd;
    -webkit-box-shadow:1px 1px 2px #ddd;
    background:#ffffff;
    margin-bottom:20px;
}


.memeTicker 
{
    padding:10px;
    box-shadow:1px 1px 2px #ddd;
    -webkit-box-shadow:1px 1px 2px #ddd;
    background:#ffffff;
    min-height:500px;
}

.rockwellHeading
{
    color:#707070;
    font-family:"rockwell",helvetica;
    text-transform:uppercase;
    font-size:25px;
}

.tickerIndvItem
{
    background:#e5e5e5;
    padding:10px;
}

.tickerPhoto
{
    padding:5px;
    box-shadow:1px 1px 2px #ddd;
    -webkit-box-shadow:1px 1px 2px #ddd;
    background:#fff;
    
}

.tickerPhoto img
{
    max-width:100%;
    max-height:100%;
    vertical-align:middle;
}

.tickerContent
{
    color:#666666;
    font-family:helvetica;
    font-size:14px;
}

.tickerContent .bold
{
    font-weight:bold;
    color:#000000;
}
