
<meta property="og:title" content="Smashed.in"/>
<meta property="og:image" content="http://www.smashed.in/static/img/slogosmall.jpg"/>
<meta property="og:url" content="http://www.smashed.in"/>
<meta property="og:site_name" content="Smashed.in"/>
<meta property="og:description" content="Smashed.in is a comprehensive database of Bars / Pubs across India. There's more to it. Get in!" />

<meta name="description" content="Smashed.in is a comprehensive database of Bars / Pubs across India. There's more to it. Get in!">
<meta name="keywords" content="Smashed,bar,pubs,reviews,overheards">	

<script src="/reviewhtml/reviews.js"></script>
<link href="/static/css/cslider.css" rel="stylesheet">


<script src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>
<script src="/static/js/jquery.smooth-scroll.js"></script>
<script src="/static/js/bgSlider.js"></script>			
<script src="/static/js/modernizr.custom.28468.js"></script>	
<script src="/static/js/jquery.cslider.js"></script>	
<script src="/static/js/cslidersetting.js"></script>	
<script src="/static/js/jquery.ui.totop.js"></script>	
<script src="/static/js/totopsetting.js"></script>


<noscript>
  <link rel="stylesheet" type="text/css" href="/static/css/nojs.css" />
</noscript>
<style type = "text/css">
.clearNav
{
    margin:0;
}
.footer
{
    margin:0;
}
</style>
<script type = "text/javascript">
jQuery(document).ready(function()
{
    ListLatestReviews();
    ListLatestOh();
    LandingInit();
});
</script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="/static/js/html5shiv.js"></script>
<script src="/static/js/respond.min.js"></script>
<![endif]-->
