<!-- Start home -->
<section id="home" class="bgslider-wrapper">
  <div id="animated-bg">
    <div id="animated-bg1" class="bg-slider"></div>
    <div id="animated-bg2" class="bg-slider"></div>
    <div id="animated-bg3" class="bg-slider"></div>
  </div>
  <div class="home-contain">
    <div class="container">
      <div class="row">
	<div id = "landingText" class="col-lg-12 logo">
	</div>	
	<div class="col-lg-8 col-lg-offset-2">
	  <div id="da-slider" class="da-slider">
	    <div class="da-slide">
	      <h2>Welcome to Smashed.in</h2>
	      <p>Smashed.in is a comprehensive database of bars across India. NO, its not just wine shops, NO, its not just pubs, Yes, it includes Bars / Dhabas, Yes, it includes food reviews as well.</p>
	    </div>
	    <div class="da-slide">
	      <h2>Overheard an interesting conversation?</h2>
	      <p>Share it on with us!. Choose from our exhaustive list or upload your own images and create overheards.</p>
	    </div>
	    <div class="da-slide">
	      <h2>What about the Android app?</h2>
	      <p>On its way as you read :)</p>
	    </div>
	    <nav class="da-arrows">
	      <span class="da-arrows-prev"></span>
	      <span class="da-arrows-next"></span>
	    </nav>
	  </div>
	  <div class="btn-group">
	    <a href="#about" class="btn btn-default btn-dark btn-cta">
	      <span class="cta-head">Get Started...</span><br />
	      What is Smashed.in all about?
	    </a>
	  </div>
	</div>					
      </div>	
    </div>	
  </div>
</section>
<!-- End home -->

<div class="clearfix"></div>

<!-- Start about -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
	<h3 class="heading">Who we are?</h3>
	<p>
	  Smashed.in is a comprehensive database of bars across India. NO, its not just wine shops, NO, its not just pubs, Yes, it includes Bars / Dhabas, Yes, it includes food reviews as well.
	</p>
	<p>
	Heard interesting conversations in a bar? Share it with others via OverHeards, a comic section where you get to see all the "Bar" talks. Use our very own "OverHeard Creator" to create cool stories. 
	</p>
	<p>
	<b>There are tons of such comic generators? Why should I use this? Because you can able to!</b>
	</p>
	<p>
	  <!--<a href="#contact" class="btn btn-default">Wanna say hello?</a>-->
	</p>
	<img src="/static/img/span-arrow.png" class="img-responsive pull-right" alt="" />
      </div>	
      <div class="col-lg-7">
	<img src="/static/img/flat-img.png" class="img-responsive" alt="" />
      </div>						
    </div>	
  </div>		
</section>
<!-- End about -->


<!-- Start reviews -->
<section id="reviews">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
	<h3 class="heading">Latest Reviews</h3>
	<!--
	   <div id="filter-bar">
	     <ul id="filters" class="option-set">
	       <li><a href="#" class="selected" data-filter=".all">All</a></li>
	       <li><a href="#" data-filter=".interface">Interface</a></li>
	       <li><a href="#" data-filter=".print">Print</a></li>
	       <li><a href="#" data-filter=".illustration">Illustration</a></li>
	       <li><a href="#" data-filter=".branding">Branding</a></li>
	     </ul>
	   </div> -->					
      </div>
      
      <ul id="gallery-list-reviews" class="clearfix">
	<li id = "item_1" class="item col-lg-4 all interface">				
	  <div class="image-wrapper">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>
	  <div class="img-title">
	    <h6><a href="detail.html"></a></h6>
	    <!--<a href="/static/img/gallery/big.jpg" data-pretty="prettyPhoto" class="zoom">Zoom</a>-->
	  </div>
	</li>
	<li id = "item_2" class="item col-lg-4 all interface">
	  <div class="image-wrapper">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>	
	  <div class="img-title">
	    <h6><a href="detail.html"></a></h6>
	  </div>							
	</li>
	<li id = "item_3" class="item col-lg-4 all print">
	  <div class="image-wrapper">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>
	  <div class="img-title">
	    <h6><a href="detail.html"></a></h6>
	  </div>							
	</li>
	<li id = "item_4" class="item col-lg-4 all branding">
	  <div class="image-wrapper">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>
	  <div class="img-title">
	    <h6><a href="detail.html"></a></h6>
	  </div>							
	</li>	
	<li id = "item_5" class="item col-lg-4 all print">
	  <div class="image-wrapper">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>
	  <div class="img-title">
	    <h6><a href="detail.html"></a></h6>
	  </div>							
	</li>
	<li id = "item_6" class="item col-lg-4 all illustration">
	  <div class="image-wrapper">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>		
	  <div class="img-title">
	    <h6><a href="detail.html"></a></h6>
	  </div>							
	</li>
	<li  id = "item_7" class="item col-lg-4 all illustration">
	  <div class="image-wrapper">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>		
	  <div class="img-title">
	    <h6><a href="detail.html"></a></h6>
	  </div>							
	</li>
	<li id = "item_8" class="item col-lg-4 all branding">
	  <div class="image-wrapper">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>		
	  <div class="img-title">
	    <h6><a href="detail.html"></a></h6>
	  </div>							
	</li>	
	<li id = "item_9" class="item col-lg-4 all interface">
	  <div class="image-wrapper">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div> 
	  <div class="img-title">
	    <h6><a href="detail.html"></a></h6>
	  </div>							
	</li>					
      </ul>			
    </div>							
  </div>		
</section>
<!-- End reviews -->

<section id="memes">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
	<h3 class="heading">Latest OverHeards</h3>	
      </div>
      
      <ul id="gallery-list-memes" class="clearfix">
	<li id = "meme_1" class="item col-lg-4 all interface">				
	  <div class="image-wrapper-normal">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>
	</li>
	<li id = "meme_2" class="item col-lg-4 all interface">
	  <div class="image-wrapper-normal">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>	
	</li>
	<li id = "meme_3" class="item col-lg-4 all print">
	  <div class="image-wrapper-normal">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>
	</li>
	<li id = "meme_4" class="item col-lg-4 all branding">
	  <div class="image-wrapper-normal">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>
	</li>	
	<li id = "meme_5" class="item col-lg-4 all print">
	  <div class="image-wrapper-normal">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>
	</li>
	<li id = "meme_6" class="item col-lg-4 all illustration">
	  <div class="image-wrapper-normal">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>		
	</li>
	<li id = "meme_7" class="item col-lg-4 all illustration">
	  <div class="image-wrapper-normal">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>		
	</li>
	<li id = "meme_8" class="item col-lg-4 all branding">
	  <div class="image-wrapper-normal">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div>		
	</li>	
	<li id = "meme_9" class="item col-lg-4 all interface">
	  <div class="image-wrapper-normal">	
	    <img src="/static/img/defaultimage.png" class="img-responsive" alt=""/>
	  </div> 
	</li>					
      </ul>			
    </div>							
  </div>		
</section>








<!-- Rampage -->

<input id = "listReviewsLoaded" type = "hidden" value = "false" />
<input id = "listMemesLoaded" type = "hidden" value = "false" />

