<html lang="en">
    <head> 
        <meta charset="utf-8">
        <title>Smashed.in :: Memes</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/MEMEHTML/jquery-ui.js"></script>
        <script src="/MEMEHTML/colorbox.js"></script>
        <script src="/MEMEHTML/jquery.tools.min.js"></script>
		<script src="/MEMEHTML/ticker.js"></script>
        <link rel="stylesheet" href="/MEMEHTML/css/jquery-ui.css" />
        <link rel="stylesheet" href="/MEMEHTML/css/style.css">
        <link rel="stylesheet" href="/reviewhtml/css/style.css"> 
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    </head>
    
<body>
    
    <!-- Topabar... Gotta make these common -->
    <div class = "blacktopbar">  
        <div class = "screen1k marginauto"> 
            <div class = "logoContainer displayinlineblock floatleft">
                <span class = "logotext">SMASHED.IN</span> 
            </div>
            <div class = "navigationContainer displayinlineblock floatleft">
                <ul>
                    <li><a href = "">Home</a></li>
                    <li><a href = "">Browse</a></li>
                    <li><a href = "">Memes</a></li>
                    <!-- If is logged in -->
                    <li><a href = "">Write a review</a></li>
                    <li><a href = "">Create a meme</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    
    <!-- Breadcrumbs and Search box -->
    <div class = "margintopfive"></div>
    <div class = "whitestrip">
        <div class = "screen1k marginauto">
            <div class = "breadcrumb floatleft">
                <span>Meme >> </span>
                <span class = "u">List</span>
            </div>
            
            <div class = "searchbox floatright">
                <input type = "text" placeholder = "Search for bars / memes..." />
            </div>
            
            <div class = "clearboth"></div>
            
        </div>
    </div>
    
    <div class = "margintopfive"></div>
        
    <!-- Content -->    
    <div class = "screen1k marginauto">
        <div class = "floatleft">    
            <div class = "memeIndvItem">
			    <a href = "$url1">
					<img src = "$image1" />
				</a>
            </div>
            
             <div class = "memeIndvItem">
			    <a href = "$url2">
					<img src = "$image2" />
				</a>
            </div>
            
             <div class = "memeIndvItem">
			    <a href = "$url3">
					<img src = "$image3" />
				</a>
            </div>
            
             <div class = "memeIndvItem">
			    <a href = "$url4">
					<img src = "$image4" />
				</a>
            </div>
            
             <div class = "memeIndvItem">
			    <a href = "$url5">
					<img src = "$image5" />
				</a>
            </div>  
        </div>
        <div class = "floatright">
            <div class = "memeTicker">
                <h3 class = "rockwellHeading">Activity</h3>
                <div class = "separator"></div>
                <div id = "tickerContainer">
                    <div class = "tickerIndvItem" id ="tickItem" style="display:none;">
						<a id="ticks" href="">
							<div class = "tickerPhoto displayinlineblock">
								<img src = "/MEMEHTML/assets/avatar.png" />
							</div>
							<div class = "tickerContent displayinlineblock">
									<span class = "bold">Thejasvi Bhat</span> created a new meme
							</div>
						</a>
                    </div>
                    <div class = "separator"></div>
                                        
                    
                </div>
            </div>
        </div>
        <div class "clearfloat"></div>
    </div>
    
    <!-- Footer -- Make these common -->
    <div class = "footer">
        <div class = "screen1k marginauto">
            <div class = "footerLeft displayinlineblock floatleft">
                <h3>Quick Links</h3>
                <div class = "marginten"></div>
                <ul>
                    <li><a href = "">Browse</a></li>
                    <li><a href = "">Latest Memes</a></li>
                    <li><a href = "">Write a Review</a></li>
                    <li><a href = "">Create a Meme</a></li>
                    
                </ul>
            </div>
            <div class = "footerMiddle displayinlineblock floatleft">
                <h3>Core Scenes</h3>
                <div class = "margnten"></div>
                <ul>
                    <li><a href = "">Terms of use</a></li>
                    <li><a href = "">Privacy policy</a></li>
                    <li><a href = "">About us</a></li>
                </ul>
            </div>
            <div class = "footerRight displayinlineblock floatleft socialLinks">
                <h3>Connect</h3>
                <div class = "margintopten"></div>
                <a href = ""><img src = "../../reviewhtml/assets/facebook.png" alt = "Facebook" /></a>
                <a href = ""><img src = "../../reviewhtml/assets/twitter.png" alt = "Twitter" /></a>
                <a href = ""><img src = "../../reviewhtml/assets/pinterest.png" alt = "Pinterest" /></a>
                <div class = "margintopten"></div>
                <span class = "connectNote">If you have any queries,suggestions or just want to say hello, drop us a message at <a href = "mailto:hello@smashed.in">hello@smashed.in</a></span>
            </div>
        </div>
        <div class = "footerStrip">
            Copyright &copy; 2013 Smashed.in. All rights reserved.
        </div>
    </div>
    
    
</body>
    
</html>
    
