<html lang="en">
   <head> 
        <meta charset="utf-8">
        <title>Smashed.in :: Memes</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/MEMEHTML/jquery-ui.js"></script>
        <script src="/MEMEHTML/colorbox.js"></script>
        <script src="/MEMEHTML/jquery.tools.min.js"></script>
        <link rel="stylesheet" href="/MEMEHTML/css/jquery-ui.css" />
        <!--<link rel="stylesheet" href="/MEMEHTML/css/style.css">
        <link rel="stylesheet" href="/reviewhtml/css/style.css">-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'> 
        <link rel="stylesheet" href="/home/css/bootstrap.css"> 
        <link rel="stylesheet" href="/home/css/overwrite.css"> 
	<link href="/home/css/font-awesome.css" rel="stylesheet">
	<link href="/home/css/font-awesome-set.css" rel="stylesheet">
        <link rel="stylesheet" href="/home/css/style.css"> 
        <link rel="stylesheet" href="/home/skin/default.css"> 
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="/home/js/custom.js"></script>
    </head>
    
<body>
    
     <!-- Header -->
        <header>
                <div class="navbar">
                        <div class="container">
                                <a class="navbar-brand" href="index.html"><img src="/home/img/slogotmp.png" alt="Smashed.in" /></a>
                                <div class="nav-collapse collapse navbar-responsive-collapse">
                                        <ul class="nav navbar-nav">
                                                <li><a href="/home/index.html">Home</a></li>
                                                <li><a href="/reviews/scenes/reviews">Reviews</a></li>
                                                <li><a href="/reviews/store/uploadreview">Write a Review</a></li>
                                                <li><a href="/meme/store/memeview/memes">Memes</a></li>
                                                <li><a href="/meme/store/create">Create Meme</a></li>
                                                <li><a href="#contact">Contact</a></li>
                                        </ul>
                                </div><!-- End nav-collapse -->
                        </div><!-- End container -->
                </div><!-- End navbar -->
        </header>
        <!-- End header -->

    <div class = "marginTopTwenty"></div>
        
    <!-- Content -->    
    <div class = "container">
        <div class = "col-lg-7 paddingNone">    
        	<div class = "row memeIndvItem">
	     		<div class = "col-lg-9">
				    <a href = "$url1">
						<img class = "img-responsive" src = "$image1" />
					</a>
	            </div>
	            <div class = "col-lg-3">
	            	<div class = "memeShareContainer">
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/fbbutton.png" title = "Share on Facebook" />
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/twitbutton.png" title = "Share on Twitter" />
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/pinbutton.png" title = "Pin It!" />
	            		</div>
	            	</div>
	            </div>
	     	</div>
            
             <div class = "row memeIndvItem">
	     		<div class = "col-lg-9">
				    <a href = "$url2">
						<img class = "img-responsive" src = "$image2" />
					</a>
	            </div>
	            <div class = "col-lg-3">
	            	<div class = "memeShareContainer">
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/fbbutton.png" title = "Share on Facebook" />
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/twitbutton.png" title = "Share on Twitter" />
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/pinbutton.png" title = "Pin It!" />
	            		</div>
	            	</div>
	            </div>
	     	</div>
            
             <div class = "row memeIndvItem">
	     		<div class = "col-lg-9">
				    <a href = "$url3">
						<img class = "img-responsive" src = "$image3" />
					</a>
	            </div>
	            <div class = "col-lg-3">
	            	<div class = "memeShareContainer">
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/fbbutton.png" title = "Share on Facebook" />
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/twitbutton.png" title = "Share on Twitter" />
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/pinbutton.png" title = "Pin It!" />
	            		</div>
	            	</div>
	            </div>
	     	</div>
            
             <div class = "row memeIndvItem">
	     		<div class = "col-lg-9">
				    <a href = "$url4">
						<img class = "img-responsive" src = "$image4" />
					</a>
	            </div>
	            <div class = "col-lg-3">
	            	<div class = "memeShareContainer">
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/fbbutton.png" title = "Share on Facebook" />
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/twitbutton.png" title = "Share on Twitter" />
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/pinbutton.png" title = "Pin It!" />
	            		</div>
	            	</div>

	            </div>
	     	</div>
            
            <div class = "row memeIndvItem">
	     		<div class = "col-lg-9">
				    <a href = "$url5">
						<img class = "img-responsive" src = "$image5" />
					</a>
	            </div>
	            <div class = "col-lg-3">
	            	<div class = "memeShareContainer">
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/fbbutton.png" title = "Share on Facebook" />
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/twitbutton.png" title = "Share on Twitter" />
	            		</div>
	            		<div class = "marginTopTen">
	            			<a href = "javascript:void(0);"><img class = "img-responsive" src = "/assets/pinbutton.png" title = "Pin It!" />
	            		</div>
	            	</div>
	            </div>
	     	</div>
        </div>
        <div class = "col-lg-5">
            <div class = "memeTicker">
                <h3 class = "rockwellHeading">Activity</h3>
                <div id = "tickerContainer">
                    <div class = "row tickerIndvItem noMargin" id ="tickItem" >
						<a id="ticks" href="$url1">
							<div class = "col-lg-4 tickerPhoto">
								<img src = "$avatar1" id="creatoravatar" />
							</div>
							<div class = "col-lg-8 tickerContent">
									<span id="creatorname" class = "bold">$name1</span> created a new meme
							</div>
						</a>
                    </div>
                    <div class = "separator"></div>
                                        
                    <div class = "row tickerIndvItem noMargin" >
						<a  href="$url2">
							<div class = "col-lg-4 tickerPhoto">
								<img src = "$avatar2"  />
							</div>
							<div class = "col-lg-8 tickerContent">
									<span  class = "bold">$name2</span> created a new meme
							</div>
						</a>
                    </div>
                    <div class = "separator"></div>
                    
                    <div class = "row tickerIndvItem noMargin"  >
						<a  href="$url3">
							<div class = "col-lg-4 tickerPhoto">
								<img src = "$avatar3" id="creatoravatar" />
							</div>
							<div class = "col-lg-8 tickerContent">
									<span  class = "bold">$name3</span> created a new meme
							</div>
						</a>
                    </div>
                    <div class = "separator"></div>
                    
                    <div class = "row tickerIndvItem noMargin">
						<a  href="$url4">
							<div class = "col-lg-4 tickerPhoto">
								<img src = "$avatar4" id="creatoravatar" />
							</div>
							<div class = "col-lg-8 tickerContent">
									<span  class = "bold">$name4</span> created a new meme
							</div>
						</a>
                    </div>
                    <div class = "separator"></div>
                    
                    <div class = "row tickerIndvItem noMargin">
						<a href="$url5">
							<div class = "col-lg-4 tickerPhoto">
								<img src = "$avatar5" id="creatoravatar" />
							</div>
							<div class = "col-lg-8 tickerContent">
									<span  class = "bold">$name5</span> created a new meme
							</div>
						</a>
                    </div>
                    <div class = "separator"></div>
                </div>
            </div>
        </div>
        <div class "clearfloat"></div>
    </div>
    
<div class = "footer">
	<div class = "container">
		<div class = "row">
            <div class = "col-lg-4">
                <h3>Quick Links</h3>
                 <ul>
                    <li><a href = "/reviews/scenes/reviews">Browse</a></li>
                    <li><a href = "/meme/store/memeview/memes">Latest Memes</a></li>
                    <li><a href = "/reviews/store/uploadreview">Write a Review</a></li>
                    <li><a href = "/meme/store/create">Create a Meme</a></li>
                    
                </ul>
            </div>
            <div class = "col-lg-4">
                <h3>Core Scenes</h3>
                <ul>
                    <li><a href = "">Terms of use</a></li>
                    <li><a href = "">Privacy policy</a></li>
                    <li><a href = "">About us</a></li>
                </ul>
            </div>
            <div class = "col-lg-4">
                <h3>Connect</h3>
                <a target = "_blank" href = "http://www.facebook.com/smasheddotin"><img src = "/reviewhtml/assets/facebook.png" alt = "Facebook" /></a>
                <a href = ""><img src = "/reviewhtml/assets/twitter.png" alt = "Twitter" /></a>
                <a href = ""><img src = "/reviewhtml/assets/pinterest.png" alt = "Pinterest" /></a>
                <div class = "margintopten"></div>
                <span class = "connectNote">If you have any queries,suggestions or just want to say hello, drop us a message at <a href = "mailto:hello@smashed.in">hello@smashed.in</a></span>
            </div>
        </div>
    </div>
    <div align = "center">
        Copyright &copy; 2013 Smashed.in. All rights reserved.
    </div>
</div>
    
    
</body>
    
</html>
    
