<html>
<head> 
	<meta charset="utf-8">
	<title>Meme Creator</title>
      <link rel="stylesheet" href="/MEMEHTML/css/jquery-ui.css" />
    <script src="/MEMEHTML/jquery.tools.min.js"></script>
  <!--script src="http://code.jquery.com/jquery-1.9.1.js"></script!-->
   <script src="http://malsup.github.com/jquery.form.js"></script> 
  <script src="/MEMEHTML/jquery-ui.js"></script>
    <link rel="stylesheet" href="/MEMEHTML/css/style.css"> 
      <link rel="stylesheet" type="text/css" href="/MEMEHTML/css/imgareaselect-default.css" />
  <script type="text/javascript" src="/MEMEHTML/jquery.imgareaselect.pack.js"></script>
    <link rel="stylesheet" href="/MEMEHTML/css/scrollable-buttons.css">   
    <link rel="stylesheet" href="/MEMEHTML/css/colorPicker.css">   
    <link rel="stylesheet" href="/MEMEHTML/css/scrollable-horizontal.css">   
    <script  src="/MEMEHTML/meme.js"></script>  
    
    <script language="javascript" type="text/javascript" src="/MEMEHTML/jquery.colorPicker.js"></script> 
</head>               
<body>      
<!--form action="" id="uploadNewForm" method="POST" enctype="multipart/form-data">                        
     <input type="file" name="content" class = "myFile" id="myFile" style="display:none;"/> 
</form-->

<div class = "blacktopbar">  
    <div class = "screen1k marginauto"> 
       <span class = "logotext">SMASHED.IN</span> 
    </div>
</div>
     

<div class="Main centerAlign"  style="width:90%;height:70%;padding-top:10px;padding-right:12px;" >
        <div class="inlineBlock"  style="width:100%;height:100%;float:center;">
            
            <div id="BaseCanvas"  class="dottedBorder backgroundLoad imgParent" dropzone="copy" style="background-color:#ababab;width:450px;height;450px"  > 
                <img id="backImage" class="displayBlock widthCLassImg" src="$memeurl" onload="OnImageLoad()" > 
            </div>
              
       </div>                   
</div>
</body>
</html>