<html lang="en">
    <head> 
        <meta charset="utf-8">
        <title>Smashed.in :: Prasanna Bar</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="../MEMEHTML/jquery-ui.js"></script>
        <script src="../MEMEHTML/colorbox.js"></script>
        <script src="../MEMEHTML/jquery.tools.min.js"></script>
        <link rel="stylesheet" href="../MEMEHTML/css/jquery-ui.css" />
        <link rel="stylesheet" href="../MEMEHTML/css/style.css"> 
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    </head>
    
    <script type= "text/javascript">
        
    $(document).ready(function()
    {
        $('a').colorbox({rel:'gal'});
    });
    function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          center: new google.maps.LatLng(12.913762,77.600119),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>

<body>
    
    <!-- Topabar... Gotta make these common -->
    <div class = "blacktopbar">  
        <div class = "screen1k marginauto"> 
            <span class = "logotext">SMASHED.IN</span> 
        </div>
    </div>
    
    <!-- Breadcrumbs and Search box -->
    <div class = "margintopfive"></div>
    <div class = "whitestrip">
        <div class = "screen1k marginauto">
            <div class = "breadcrumb floatleft">
                <span>Browse >> </span>
                <span class = "u">Prasanna</span>
            </div>
            
            <div class = "searchbox floatright">
                <input type = "text" placeholder = "Search for bars / memes..." />
            </div>
            
            <div class = "clearboth"></div>
            
        </div>
    </div>
    
    <div class = "margintopfive"></div>
    
    <!-- Banner -->
    <div class = "reviewHeadingBackground">
         <div class = "screen1k marginauto">
             
            <div class = "floatleft reviewHeadingBig">
                Prasanna<br/>Bar
            </div>
            
             <div class = "floatright reviewScreenShotContainer">
                 <!-- Screenshots -->
                 <div class = "ScreenShotWrap displayinlineblock">
                     <a href = "../MEMEHTML/assets/tmp_ss.png" rel = "gal">
                         <img src = "../MEMEHTML/assets/tmp_ss.png" />
                     </a>
                 </div>
                 <div class = "ScreenShotWrap displayinlineblock">
                     <a href = "../MEMEHTML/assets/tmp_ss.png" rel = "gal">
                         <img src = "../MEMEHTML/assets/tmp_ss.png" />
                     </a>
                 </div>
                 <div class = "ScreenShotWrap displayinlineblock">
                     <a href = "../MEMEHTML/assets/tmp_ss.png" rel = "gal">
                         <img src = "../MEMEHTML/assets/tmp_ss.png" />
                     </a>
                 </div>
                 
                 <div class = "margintopten"></div>
                 
                 <div class = "ScreenShotWrap displayinlineblock">
                     <a href = "../MEMEHTML/assets/tmp_ss.png" rel = "gal">
                         <img src = "../MEMEHTML/assets/tmp_ss.png" />
                     </a>
                 </div>
                 
                 <div class = "ScreenShotWrap displayinlineblock">
                     <a href = "../MEMEHTML/assets/tmp_ss.png" rel = "gal">
                         <img src = "../MEMEHTML/assets/tmp_ss.png" />
                     </a>
                 </div>
                 
                 <div class = "ScreenShotWrap displayinlineblock">
                     <a href = "../MEMEHTML/assets/tmp_ss.png" rel = "gal">
                         <img src = "../MEMEHTML/assets/tmp_ss.png" />
                     </a>
                 </div>
                 
             </div>
             
             <div class = "clearboth"></div>
             
         </div>
    </div>
    
    <!-- Details and Maps -->
    <div class = "margintopten"></div>
    
    <div class = "screen1k marginauto">
        <div class = "floatleft">
            <div class = "reviewSubHeading">
                Prasanna Bar
            </div>
            
            <div class = "margintopfive"></div>
            
            <div class = "reviewWhiteBoxSmall">
                <h4>Address:</h4>
                <div class = "margintopten"></div>
                <span>
                    #xyz,1st,2nd,3rd Floor,
                    <br/><br/>
                    Bannerghatta main road,
                    <br/><br/>
                    Opposite Shoppers Stop,
                    <br/><br/>
                    Bangalore - 560076
                    <br/><br/>
                </span>
                <div class = "margintopten">
                    <h4>Phone:</h4>
                    <div class = "margintopten"></div>
                    <span>
                        080-266-xx-xxx
                    </span>
                </div>
            </div>
            
            <div class = "margintopten"></div>
            
            <div class = "reviewWhiteBoxSmall">
                <h4>Prasanna's Scenes</h4>
                <div class = "margintopten"></div>
                <!-- Rating Container ( Styles N/A ) -->
                <div class = "ratingContainer">
                    <img src = "../MEMEHTML/assets/wine_bottle_tmp.png" />
                    <img src = "../MEMEHTML/assets/wine_bottle_tmp.png" />
                    <img src = "../MEMEHTML/assets/wine_bottle_tmp.png" />
                    <img src = "../MEMEHTML/assets/wine_bottle_tmp.png" />
                    <img src = "../MEMEHTML/assets/wine_bottle_tmp.png" />
                </div>
                
                <!-- USP -->
                <div class = "reviewUspContainer">
                    <span class = "check">
                        <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/green.png" />
                    </span>
                    <span class = "UspItem">
                        Bottle Rate
                    </span>
                </div>
                <div class = "reviewUspContainer">
                    <span class = "check">
                        <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/green.png" />
                    </span>
                    <span class = "UspItem">
                        Smoking on table
                    </span>
                </div>
            </div>
        </div>
        
        <div class = "floatright">
            <div class = "margintopfive"></div>
            <div id = "map_canvas" class = "GoogleMapContainer">
            </div>
        </div>
        
        <div class = "clearboth"></div>
        
        <!-- Lets get into core? -->
        
        <div class = "margintwenty"></div>
        <h3 class = "coreHeading">
            Not enough details? Lets get into core then!
        </h3>
        
        <div class = "margintopten"></div>
        
        <div class = "whitestrip heightauto">
            <div class = "reviewDetailsLeft">
                <div class = "reviewLeftSectionOne">
                    <div class = "reviewUspContainer">
                        <span class = "check">
                            <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/green.png" />
                        </span>
                        <span class = "UspItem">
                            Budget
                        </span>
                    </div>
                    
                    <div class = "reviewUspContainer">
                        <span class = "check">
                            <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/red.png" />
                        </span>
                        <span class = "UspItem">
                            A/C
                        </span>
                    </div>
                    
                    <div class = "reviewUspContainer">
                        <span class = "check">
                            <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/red.png" />
                        </span>
                        <span class = "UspItem">
                            Car Park
                        </span>
                    </div>
                    
                    <div class = "reviewUspContainer">
                        <span class = "check">
                            <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/red.png" />
                        </span>
                        <span class = "UspItem">
                            Big Screen
                        </span>
                    </div>
                    
                    <div class = "reviewUspContainer">
                        <span class = "check">
                            <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/red.png" />
                        </span>
                        <span class = "UspItem">
                            Lady Friendly
                        </span>
                    </div>
                    
                    <div class = "reviewUspContainer">
                        <span class = "check">
                            <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/green.png" />
                        </span>
                        <span class = "UspItem">
                            Fight Scene
                        </span>
                    </div>
                </div> <!-- Review Section 1 -->
                
                <div class = "reviewLeftSectionTwo">
                    
                    <div class = "reviewUspContainer">
                        <span class = "UspItem">
                            Music / Video
                        </span>
                        <span class = "check">
                            <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/red.png" />
                        </span>
                    </div>
                    
                    <div class = "reviewUspContainer">
                        <span class = "UspItem">
                            Clean
                        </span>
                        <span class = "check">
                            <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/red.png" />
                        </span>
                    </div>
                    
                    <div class = "reviewUspContainer">
                        <span class = "UspItem">
                            Smoking on Table
                        </span>
                        <span class = "check">
                            <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/green.png" />
                        </span>
                    </div>
                    
                    <div class = "reviewUspContainer">
                        <span class = "UspItem">
                            Happy Hours
                        </span>
                        <span class = "check">
                            <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/red.png" />
                        </span>
                    </div>
                    
                    <div class = "reviewUspContainer">
                        <span class = "UspItem">
                            Card Accepted
                        </span>
                        <span class = "check">
                            <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/green.png" />
                        </span>
                    </div>
                    
                    <div class = "reviewUspContainer">
                        <span class = "UspItem">
                            Events
                        </span>
                        <span class = "check">
                            <img class = "verticalalignmiddle" src = "../MEMEHTML/assets/red.png" />
                        </span>
                    </div>
                </div> <!-- Review section 2 -->
                
                <div class = "clearboth"></div>
            </div> <!-- Review detail left -->
            
            <div class = "reviewDetailsRight">
                Prasanna... Also called as "PB" by the regulars is a pretty chill out place if you want to chill after work. PB has three floors. THe ground floor is for the ones who want to 'Stand and Deliver' . The first is for the corporates who need to head back for a call and the top floor is for the one who is writing this :-D . 
                <div class = "margintwenty"></div>
                <h4>Favorite Snacks</h4>
                <div class = "margintopten"></div>
                <ul>
                    <li>Prasanna Spl Chicken / Veg</li>
                    <li>Oil Kabab</li>
                    <li>Pakoda</li>
                    <li>Babycorn pepper dry</li>
                </ul>
            </div> <!-- Review detail right -->
            
            <div class = "clearboth"></div>
        </div> <!-- Container -->
        
    </div> <!-- Main -->
    
</body>
    
</html>
    
