@import url("reset.css");

body,html
{
    margin:0;
    padding:0;
    background:#e5e5e5;
}
@font-face
{
  font-family: rockwell;
  src: url('./assets/rockwell.ttf'),
  url('./assets/rockwell.eot'); /* IE9 */
}
.stepper_widget {vertical-align:top;}
.stepper_widget input{width:25px;}
.stepper_widget button{margin:0;padding:0;border:0;background-color:transparent;width:20px;cursor:pointer;}
.stepper_widget .upbutton{position:relative;top:-6px;}
.stepper_widget .dnbutton{position:relative;top:5px;left:-24px;}
.transClass {
  background-color: rgba(255, 0, 0, 0);
  position: absolute;
  top: 0px;
  left: 0px; }

.layout_canvasClass {
  width: 100%;
  height: 100%; }

.style_canvasClass {
  background-color: rgba(255, 0, 0, 0.5); }

.displayBlock {
  display: block; }

.inlineBlock {
  display: inline; }

.textClass {
    font-family:rockwell;
  font-size: 30px;
  align-content:center;
    margin:0 auto;
padding-bottom:10px;}

.backgroundClass {
  width: 1000px;
  padding: 10px;
  background-color: #ffffff;/*#e5e5e5;*/
  -webkit-box-shadow: 10px 10px 10px #ddd;
    box-shadow: 10px 10px 10px #ddd;
}

.dropShadowed
{
    -webkit-box-shadow: 0 0 5px 2px #BBB;
    box-shadow: 0px 0px 5px 2px #BBB;
}
.autoClass
{
    width:inherit;
}
.centerAlign
{
    margin-left:auto;
    margin-right:auto;
}
.dottedBorder
{
    /*
    border:dotted;
    border-radius:5px;
    border-bottom-width:thin;
    border-top-width:thin;
    border-left-width:thin;
    border-right-width:thin;
    */
    border:6px dashed #707070;
    -webkit-border-radius:8px;
    border-radius:8px;
}
.customButton
{
    width:150px;
    height:40px;
    background-color:0;
    color:#FFF;
    font-size:16;
}
.pointerAuto
{
    pointer-events:auto;
}
.pointerNone
{
    pointer-events:none;
}
.backgroundTransparent
{
    background-color:transparent;
    border-color:transparent;
}
.backgroundVisible
{
    background-color:transparent;
    border-color:#ff0;
}

/* Sep 19 2013 */

.blacktopbar
{
    width:100%;
    background:#2b2b2b;
    height:60px;
    line-height:60px;
}

.screen1k
{
    width:1020px;
}

.marginauto
{
    margin: 0 auto;
}

.logotext
{
    font-family:"rockwell",helvetica;
    font-size:35px;
    color:#ffffff;
    text-shadow: 0px 5px 2px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=5);
}

.label
{
    text-transform:uppercase;
    color:#707070;
    display:block;
    margin-bottom:5px;
}

